[2017-08-23 19:30] Krisalexroberts opened #1 "Error during load"
Followed instructions to install, however it doesnt seem to load:

0|mm       | App threw an error during load
0|mm       | /home/pi/MagicMirror/modules/MMM-Screencast/DialServer.js:60
0|mm       | };
0|mm       |  ^
0|mm       | SyntaxError: Unexpected token ;
0|mm       |     at Object.exports.runInThisContext (vm.js:78:16)
0|mm       |     at Module._compile (module.js:543:28)
0|mm       |

[2017-08-23 20:11] kevinatown commented on #1
Hi there, sorry about this issue. I wasn't quite ready for this module to be released, still working on some bugs. Can you try and pull the newest version like so:
`cd  /home/pi/MagicMirror/modules/MMM-Screencast/`
`git pull`
`npm install`

So at what point in the installation did this happen?

Also, did this happen during stating the MM, connecting your phone to your MM, or some other point in th

[2017-08-24 18:13] Krisalexroberts commented on #1
I know :) I have been waiting for this for a while so as soon as I noticed it on Github, i thought I'd try it out!

I've pulled the latest version and I get the same error, installation is fine, when I start the MagicMirror service i get the error and a blank screen

`/home/pi/.pm2/logs/mm-error-0.log last 15 lines:
0|mm       |     at Object.<anonymous> (/home/pi/MagicMirror/modules/MMM-Screencas

[2017-08-24 18:29] Krisalexroberts commented on #1
I think I worked it out, you need an extra curly bracket on row 60 instead of a semi colon :)

[2017-08-24 19:57] kevinatown commented on #1
You're right, the Hulu declaration was missing the final `}`. If you pull master it should be good!

Thanks, for bringing this issue to my attention!

[2017-08-28 02:05] #1 closed

[2017-10-15 18:56] Arkoxs opened #2 "How to cast"
Installation went without issues. No errors, the Magic Mirror restarted without problems after adding this module to the config.js.
			module: 'MMM-Screencast',
			position: 'bottom_right',
			config: {
				position: 'topCenter',
				height: 300,
				width: 500,
			}

Nothing is displayed, how do I cast to this module? It does not register as a cast device on my network.

[2017-10-15 21:07] kevinatown commented on #2
Hey! Sorry about the issues. Just some questions to help figure out what’s going on (some might seem stupid, but I have to ask). Do other modules open and work on you MM? Is your pi and phone connected to the same WiFi network? What are you trying to cast from (currently YouTube is only supported)? Can you paste the console log info in this chat?

Thanks!

[2017-10-15 21:44] Arkoxs commented on #2
Hi, thanks for the quick response. I'll try to get the console log info later.
The pi and my phone are on the same internal Wifi network, I'm trying to cast from the Youtube app on my android phone. All of the other modules are loading correctly.

[2017-10-16 13:54] kevinatown commented on #2
Cool. You can run the MM with this command:
[code]
And a file in the MM directory called `log.log` will be created with all of the terminal output. Run this command and after the MM and all modules are loaded, open your youtube app. If you can send the contents of this log to me.

Thanks!

[2017-10-17 06:16] Arkoxs commented on #2
Hi, I'm embarrassed to say that I've found what was wrong. The logs did not contain any errors so I decided to remove all other modules and just test it with MMM-Screencast,

It turned out that my FTP program kept skipping the config.js file so the new config was never uploaded. After correctly uploading the new config.js with the MMM-Screencast module section, the MagicMirror was immediately avai

[2017-10-18 01:52] kevinatown commented on #2
Great, I am glad you got it working! Yea, I haven't tested it on many different pi versions, only really on my Pi 2 Model B and it seems to work well. Do you have much else running on your Pi (other programs or many different modules that could be taking up network and cpu bandwidth)? Does it have a strong enough internet connection? Let me know if there is something else I can help you with in a

[2017-10-18 01:52] #2 closed

[2017-10-25 15:10] CaptainSteve opened #3 "Not running... possible error during install"
First off, I'm new to Raspberry Pi and haven't had any real computer training.
So this may or may not be an easy fix, but I believe there's maybe 1 or 2 issues during installation. I've attached a copy of my install for your reference (with the 2 areas marked for ease of locating).
I'll attach the copy/pasted files from during the install and the log.log file I created from reading the other issue

[2017-10-25 16:48] kevinatown commented on #3
Hey thanks for these logs, they are always really helpful to determine what could be going wrong. Also I am sorry that it is not working correctly for you. However, it seems like everything was installed correctly and the casting server started normally, `DIAL Server is running on PORT 8569`. And yes this should work with an iPhone (I have one and it works). I am going to ask some questions and I

[2017-10-25 18:19] CaptainSteve commented on #3
Thanks for the prompt reply back, I'll get all the info and such put together and post it later this evening. It may just be an internet/wifi issue to be honest, I'm currently hopping between work internet (mobile/guest/employee types) and "spotty" hotel internet... so let me test it out somewhere else that has clean and simple internet. Then I'll get back to you with the outcome (and info if nece

[2017-10-26 19:50] CaptainSteve commented on #3
Still no luck... after many attempts yesterday/lastnight. But for your questions:

iOS version 11.0.3 and YouTube version 12.41.13 (both up to date)

I've never used casting before (no Chromecast or Apple tv), and nothing pops up in the casting menu. **I do get the "raspberrypi" when connected to it via bluetooth, but only because BT

RaspberryPi version a02082  (Q1 , 2016)

I initially cloned the

[2017-10-27 20:46] kevinatown commented on #3
Oh man, you got a real winner here, so lets try some more troubleshooting.
1. Can I see a copy of the `config.js` file? Also can I see the `run-start.sh` file it looks like you are using to start your MM. Just making sure everything there looks alright.
2. What exactly do you mean when you say you are using the VPN? Can you point me to the vpn you are using and the steps you took? This could very

[2017-10-28 17:52] CaptainSteve commented on #3
Ok I'll get that info together and post it later this evening. Interestingly enough though, I managed to get it working on an old ipad I had laying around (2nd gen: iOS and youtube are version "9.something")

So idk if there is a difference in casting protocol/format, but I've been mistaking the "airplay" icon as the "casting" icon on my phone. So I DO have the casting button on my older ipad, but

[2017-10-28 19:05] kevinatown commented on #3
Hey, so that was a good idea to check another device and because it worked and appeared on your iPad, everything is working as it should. You do not need to send you `config.js`, `run-start.sh`, or the results of the `netstat` call, as everything is find with the setup on the pi.

The issue I believe is with either your phone or the network that you are on. The newest version of the YouTube app is

[2017-10-28 19:28] CaptainSteve commented on #3
Roger that. I appreciate all the help with this.

I have no doubt I'll get it all squared away once I get home and can use something other than hotel wifi or my work's wifi.

Awesome job on the module and thanks again for all the help with troubleshooting. Definitely was a good learning experience for me!
-Steve

[2017-10-28 19:28] #3 closed

[2017-11-18 23:25] nojoom4000 opened #4 "not work with MM 2.1.3"
Hi Dear
Can you update this Module
cause not work with the last version of MagicMirror

[2017-11-21 14:39] kevinatown commented on #4
Hi Nojoom, sorry about the delay. I updated the node_helper to work with the latest version of MM. Please pull the new code:

[code]

Let me know if there are any other issues you see. Enjoy!

[2017-11-21 14:39] #4 closed

[2017-11-21 15:07] Kiina opened #5 "Does not run under Windows"
Basically the current version crashes when starting npm:

[code]

This can be fixed if you change how to spawn npm:

[code]

But after that the real problems start:

[code]

[2017-11-21 17:12] kevinatown commented on #5
Hi Kiina, yes currently MMM-Screencast doesn't work on windows systems. It was developed for UNIX based systems. I can try to fix these issues, but might be a little bit of time. Sorry for this inconvenience.

[2017-11-21 17:53] sainiaj opened #6 "Lower the resolution"
Hi is it possible to lay using 240p perhaps
reason being i am using pi 3 and after launching this module (conenction  via youtube app)
free memory goes below 3% and ended up crashes
at the moment

                module: 'MMM-Screencast',
                position: 'bottom_right', // This position is for a hidden <div /> and not the screencast window
                config: {

[2017-11-21 20:16] sainiaj commented on #6
Hi yes I am using about 10 modules total plus google pi home assistant

On Nov 21, 2017 2:33 PM, "Kevin Townsend" <notifications@github.com> wrote:

[2017-11-22 21:08] Kiina commented on #5
Yeah not sure how many people run their MagicMirror on a full Windows box, so maybe I'm the only one with the problem.

[2017-12-18 18:02] hutny1980 opened #7 "Screencast loads on MM - then freezes"
Hi,

Installed the Screencast Module today and have tried to cast from 2 different iPhones - the screencast module loads the Youtube video on the Magic Mirror, but it freezes on the first frame and won't play the video.

I've tried casting on two different iPhones, but with no luck and the sames symptoms on both devices. Magic Mirror is running on RPi 3 and iPhones I'm casting from are on the same

[2017-12-29 21:56] hutny1980 commented on #7
@kevinatown - sorry to bump, but any help would bee appreciated?

[2017-12-30 01:57] kevinatown commented on #6
Hey, So after doing some research there is no way that I can actually lower the resolution of the videos, as it is controlled by the youtube app. Is there any other modules that are using a lot of memory?

[2017-12-30 02:00] kevinatown commented on #5
Hey Kiina, sorry about the delay. There's not many people that use MM on a windows machine. I think I know the issue has to do with the interprocess communication between the DIAL server and the electron app thats running the youtubeTV app. I'll keep this issue open and hopefully will have time to fix this issue. Sorry about the delay in fixing this!

[2017-12-30 02:23] kevinatown commented on #7
Hey G, so sorry about the delay! I've been swamped with the holidays and starting a new job. Overall nothing looks off about the logs you posted. I would need some more information to determine what is going on.

- Is there any other logs under the ones you sent?
- When you cancel the cast, does the window actually disappear?
- How many other modules (and what modules) are you running on your MM/i

[2017-12-30 10:16] hutny1980 commented on #7
No problem @kevinatown - I really appreciate your help!!

Answers to your questions:

- Is there any other logs under the ones you sent? **[GH] No - just what I sent. The window loads and I can see the first frame with the standard spinning Youtube loading circle**
- When you cancel the cast, does the window actually disappear? **[GH] Yes, the window disappears when I cancel the cast.**
- How many

[2017-12-31 11:33] hutny1980 commented on #7
@kevinatown - I thought it was worth sharing my Screencast entry in the Config.js file, just to make sure I'd not missed something in there.

{
                module: 'MMM-Screencast',
                position: 'bottom_right', // This position is for a hidden <div /> and not the screencast window
                config: {
                        position: 'bottomRight',
                        he

[2018-01-03 01:01] kevinatown commented on #7
Hmmm, so nothing looks out of the ordinary in the configs or the screenshot. I see a couple potential problems.

1. In the screenshot you sent me it looks like the video is buffering? What happens if you pause it and let it load? Does the spinner continue to spin? Does any sound/video happen?

2. There could be something getting in the way with shareport-sync, Webmin, or Mosquitto MTQQ. Like fight

[2018-01-03 06:16] sainiaj commented on #6
How can I check
Module based

I have google assistant
Weather clock calender atm news feed,
Sechduler which shows in the morning only map of highway as well time to
work and sunsign

Free memory usually around 20 system load 1.5ish

I can send you the log
Everytime I play youtube it crashed the UI but keeps playing youtube in the
background
And I have to manually shh and Sufi reboot then

On Dec 2

[2018-01-05 02:36] kevinatown commented on #6
Yea a log will be great. There is def. some issue. However I do not know if its with the module, since that's still playing and it crashes the app. So any information you can give will be great. You can watch the cpu and memory while you run the app and cast to it. Try these and send me the logs:

Run the cpu/memory watch:
[code]

[code]

[2018-01-27 05:28] manojjenago opened #8 "Utube URL"
Hi Kevin,
Thanks for a wonderful app. It's really nice. However my videos are buffering too much when I cast on TV. And also if I enlarge then the problem is bigger. Please suggest.
What I was thinking is there anyway we can play the video URL in OMXplayer.
1-First grab the URL from youtube from the phone
2-Send pi to open this in OMXPlayer.

Just a thought . May be you can guide. The URL looks li

[2018-02-15 19:10] manojjenago commented on #7
Hi kevin,

I want to get the URL like Iphone provides
( electron app.js "http://www.youtube.com/tv?pairingCode=BF5A6013-8AB5-47DD-A820-018A6E2C566F&rUrl=ws%3A%2F%2F192.168.1.9%3A57364%2FD214526C-AEE8-4E7E-8100-8AAA59226DEE&rId=C641178A-655D-41CE-9FBC-8BC16A9C1008&t=7.1&theme=cl&v=BAYOqpNbFeo" ) in Android (Nexus) But the URL looks different and does not have the v="" which I believe the ID of the

[2018-02-15 22:29] kevinatown commented on #8
Hey MKJ. So originally I was stealing the video tag from the cast and opening the video in in a new window with a standard youtube `watch?v=` the issue with doing it this way was that you didnt have full control over the video (e.g. stop, play, volume, etc). That's why I had to switch to using the `youtube.com/tv` app. It's something that was created youtube to handle DIAL, which I believe has bee

[2018-02-15 22:32] kevinatown commented on #7
Hey MKJ, I'll answer this question in the your open issue.

[2018-02-15 22:33] kevinatown commented on #8
Your comment on the other issue:
[code]

[2018-02-15 22:35] kevinatown commented on #8
So the issue is that you need to parse everything after the `youtube.com/tv?`, if you notice the last parameter is the video tag: `v=BAYOqpNbFeo`.

[2018-02-25 19:08] sobrien556 opened #9 "Javascript Uncaught Exception when attempting to cast"
Hello, thank you for the module! I have pasted my config info down below. Every time I attempt to cast to the mirror I receive an Uncaught Exception error message. I attached a screenshot of the issue below. Is this a known issue or have you run into this before? Please let me know if there is a solution, thank you!

{
	module: 'MMM-Screencast',
	position: 'bottom_right', // This position is for a

[2018-02-27 19:31] AndyC3108 opened #10 "Screencast loads with no errors, but does not appear"
Hi Kevin

Apologies for contacting you, but I hope you can help.

I have a similar problem to another user, whereby the application seems to load OK in Magic Mirror, but I cannot cast to it.  I have tried 2 devices but the same thing happens.  I don't even get the video player to appear on screen.  My tablet or phone just eventually times out being unable to connect.  I have tried moving the scrip

[2018-02-27 22:34] dan89eu commented on #10
Hi Kevin,
I have the exactly same issue.
Here is my output:
`npm start

Starting MagicMirror: v2.2.2
Loading config ...
Loading module helpers ...
Initializing new module helper ...
Module helper loaded: MMM-Screencast
All module helpers loaded.
Starting server on port 8080 ...
You're using a full whitelist configuration to allow for all IPs
Server started ...
Connecting socket for: MMM-Screencast

[2018-02-28 00:14] kevinatown commented on #10
Hey Dan and AndyC, Sorry about all of the issues. I think some of the packages might have updated and I haven't had the time yet to update MMM-Screencast yet. I'll look into that.

In the meantime:

Dan -
- Are you on a windows machine?
- Is there any other info past that log you pasted?

AndyC -
- If you post those files in this chat I can give a look over them and see whats up.

Thanks and hold

[2018-02-28 00:38] kevinatown commented on #9
Hey sobrien556,

So this is the first time I have run into this issue. Do you think you can provide me with a complete copy of your `config.js`? Also what environment are you using this on?

[2018-02-28 08:09] AndyC3108 commented on #10
Hi Kevin

Many thanks for the quick reply & please find attached files as requested.

Kind regards

AndyC

[netStat.txt](https://github.com/kevinatown/MMM-Screencast/files/1766161/netStat.txt)
[topCPU.txt](https://github.com/kevinatown/MMM-Screencast/files/1766162/topCPU.txt)
[topMemory.txt](https://github.com/kevinatown/MMM-Screencast/files/1766163/topMemory.txt)

[2018-02-28 21:51] kevinatown commented on #10
Hi AndyC, sorry completely misread your previous message. Can you actually run:

[code]

Attempt to cast to your pi, wait a couple seconds, stop the app, and send me that log?

Thanks!
Kevin

[2018-02-28 22:19] dan89eu commented on #10
Hi Kevin,

I'm on mac, the log is from my pi. Today I did a new test with with a fresh install (new sd card, latest raspbian, fresh install of magic mirror (only default modules)) and the same thing happens.

Thanks! You're doing a great job!
Dan

[2018-02-28 23:24] Krijbolder commented on #9
I have the same problem.
I'm streaming a youtube fie from Iphone to Pi. Nothing happen, black screen. Hope you can help.

[2018-03-01 09:28] AndyC3108 commented on #10
Hi Kevin

Thanks again for the quick response.  Please find attached log file as requested.

Cheers

Andy

[log.log](https://github.com/kevinatown/MMM-Screencast/files/1770569/log.log)

[2018-03-01 19:45] sobrien556 commented on #9
I am running on linux and I have attached my config.js file below!
[config.txt](https://github.com/kevinatown/MMM-Screencast/files/1772557/config.txt)

[2018-03-04 16:13] bimbim2401 commented on #10
i have the same issue on raspberry PI 3 with the last version of magic mirror.

[2018-03-05 00:55] kevinatown commented on #10
So everything looks fine, at all of the logs y'all are showing me. I have another question do you hear any audio and just can't see the video?

[2018-03-05 00:59] kevinatown commented on #9
Hey, @sobrien556 try changing the inner position (i.e. the position in the config object) to camel case `bottomRight`. Like so:
[code]
Let me know if this helps.

[2018-03-05 01:00] kevinatown commented on #10
Also can you send me a copy of your `config.js`?

[2018-03-05 20:24] AndyC3108 commented on #10
Hi Kevin

There is no audio or video.  When I try to connect (using my tablet or phone) it just says connecting to 'device-name' and that's all it does until it eventually times out.

I have attached my config file (with personal & security info removed).  Also changed file extension to 'txt' so I can upload it...

Many thanks again for you help...

Andy

[config.txt](https://github.com/kevinatown

[2018-03-05 20:30] bimbim2401 commented on #10
Same for me no audio and no video

[2018-03-06 16:18] PrincesseLulu opened #11 "Error in the console when i want to cast"
Hi,

This is my configuration
`Windows x64
Node 9.7.1 (last version)
Last version of npm
Last version of MagicMirror
Last version of MMM-Screencast`

I have use the default configure of MMM-Screen cast like that :
`var config = {
    modules: [
        {
		module: 'MMM-Screencast',
		position: 'bottom_right', // This position is for a hidden <div /> and not the screencast window
		config: {
			pos

[2018-03-06 18:14] #11 closed

[2018-03-06 20:31] Krijbolder commented on #10
follow...... I've the same problem. Config .js is the same as Andy.

[2018-03-07 04:40] zack949 opened #12 "Only works when not in server mode"
When MM is run in server mode and a remote client connects the video plays on the server, rather than the remote client,

[2018-03-07 18:34] kevinatown commented on #12
Hey Zack,

Just curious what are you running the MM on? Also what do you mean it doesn't work in server mode? Finally, I had to update some dependencies so can you try:
[code]
Then try running the app again.

Thanks let me know how it goes.

[2018-03-07 18:36] kevinatown commented on #10
Hi @AndyC3108 @bimbim2401 @dan89eu @Krijbolder,

So it looked like the newer version of electron wasn't loading the URL as it should, I reverted the version to an older version until I can look into why (I think it might have to do with chrome vs. chromium).

Anyways, please try updating the following and letting me know if it works for y'all:

[code]
Then try running the app again.

Thanks,
Kevin

[2018-03-07 18:38] kevinatown commented on #9
Also @sobrien556, Try pulling the newest version of `MMM-Screencast` like so:

[code]
Then try running the MM again. Let me know if this helps!

Thanks,
Kevin

[2018-03-07 19:29] Krijbolder commented on #10
Hi Thanks Kevin,Executed, but the iphone does not recognize the raspberry anymore. the icon to share is no longer visible.Op 7 maart 2018 om 19:36 schreef Kevin Townsend <notifications@github.com>:  Hi @AndyC3108 @bimbim2401 @dan89eu @Krijbolder,So it looked like the newer version of electron wasn't loading the URL as it should, I reverted the version to an older version until I can look into why

[2018-03-07 19:41] kevinatown commented on #10
@Krijbolder Hi Ben, sorry I had a typo in `DialServer.js`, try the steps again. Also make sure you stop the MagicMirror before doing these:
[code]
Also sometimes it takes a bit of time for the phone to find the dial server. Let me know how it goes.
Kevin

[2018-03-07 19:43] kevinatown commented on #5
Het @Kiina sorry for the extremely late resolution, but if you pull the latest version and reinstall the node_modules you should be able to run it on a windows. Like so:
[code]
I am going to close this issue, but feel free to reopen it if you have any issues.

Thanks,
Kevin

[2018-03-07 19:43] #5 closed

[2018-03-07 19:44] Krijbolder commented on #10
I'm sorry It works!!!Thanks for your help!! grtz BenOp 7 maart 2018 om 19:36 schreef Kevin Townsend <notifications@github.com>:  Hi @AndyC3108 @bimbim2401 @dan89eu @Krijbolder,So it looked like the newer version of electron wasn't loading the URL as it should, I reverted the version to an older version until I can look into why (I think it might have to do with chrome vs. chromium).Anyways, please

[2018-03-07 19:46] Krijbolder commented on #10
It works for me!! Thanks Kevin!!!

[2018-03-07 20:08] AndyC3108 commented on #10
Hi Kevin

All working now!

Many thanks & best wishes....

Andy

[2018-03-07 20:15] dan89eu commented on #10
Hi Kevin
You're the best! It's working perfect!

Thanks,
Dan

[2018-03-08 00:21] kevinatown commented on #10
Wonderful. I'm closing this issue.

[2018-03-08 00:21] #10 closed

[2018-03-08 09:48] Kiina commented on #5
Working great, thank you!

[2018-03-09 16:25] PrincesseLulu opened #13 "Error on windows"
Hey, i have this error on windows.
I have test the windows branch but it's like as..

![sans titre](https://user-images.githubusercontent.com/18584249/37217778-bdb4f15c-23be-11e8-9b7d-ffb18460b76e.png)

Do you no why ? And why can i do for repair this ?
Thank you by advance !

[2018-03-09 16:34] #13 closed

[2018-03-09 17:06] kevinatown commented on #13
Hi @PrincesseLulu, so the `windows` branch is old and should not be used. this issue was actually fixed on master and windows machines should now be supported. Please try the following:

[code]

Let me know if you have any other issues!

[2018-03-18 09:15] DWOODNESS opened #14 "Breaks if connected to a bluetooth audio source."
Looks like when my bluetooth headphones are connected to the PI, the screencast will load the video then freeze, you can mess with the window, change videos through the pi, but each video just pauses and won't play. disconnect bluetooth headphones, instantly plays.

[2018-03-20 13:45] Sizer009 opened #15 "Cant see to get it working??"
I have followed the install instructions, no issues there but when I try and cast from PC or Phone the raspberry doesn't show up as an option so I have no idea how to get it to play a video. There is no place holder shown on magic mirror its just black were the videos are meant to appear.

[2018-03-22 17:06] manojjenago commented on #8
thanks

Thanks,
Manoj

On Thu, Feb 15, 2018 at 5:35 PM, Kevin Townsend <notifications@github.com>
wrote:

[2018-03-24 21:16] KairosZenith commented on #15
i had to do it from my computer first.  I got it working on my phone finally, but it never and still doesn't show in the "cast" menu from my phone's YouTube.

The MMM Screencast  never seems to work on the first try (or even a few tries), but i start playing a YouTube video in my Chrome browser.  i then click on the Cast option on the video.  i just keep trying about every 10 to 20 seconds or so.

[2018-03-24 22:05] KairosZenith opened #16 "Screencast Regions & Closing the Cast"
Hey, thanks for the Magic Mirror Screencast module, cause i probably watch more YouTube than i do TV, lol.  i have my TV oriented in normal landscape mode and i was trying to centralize my YouTube video in the middle of my other modules.  The problem is that i had to adjust where "my" middle is because it's slightly over to the right because my module on the left is bigger than the modules on the

[2018-03-24 22:09] KairosZenith commented on #15
Also, i'm not for sure, but i think i saw something about having SSH on, will help.  i'm not certain on that, but just something i "thought" i read about troubleshooting with Screencast.  Although, most people doing this probably already have SSH on  :)

[2018-03-25 01:39] kevinatown commented on #8
Im going to close this issue. Feel free to open another one if you have any more problems.

[2018-03-25 01:39] #8 closed

[2018-03-25 01:40] kevinatown commented on #12
I'm going to close this issue. Feel free to open another issue if you have any more problems.

[2018-03-25 01:40] #12 closed

[2018-03-25 02:20] kevinatown commented on #15
Hey y'all,

@Sizer009 currently only YouTube casting from a mobile device is supported. I have not tested from a browser, however KairosZenith said he was able to get it from a browser. I have created it to not have have a placeholder so valuable screen space is not taken up. Also, it may take a couple of tries of pressing the casting button to get the MagicMirror(or whatever the name of the devic

[2018-03-25 02:54] kevinatown commented on #14
Hey Doodness,

Sorry about this issue. I haven't tried using it with bluetooth. Can you help by getting me some logs so I can see whats happening when you try running the app when using bluetooth.

[code]

And in another terminal with the bluetooth, MM running, and casted to MMM-Screencast run:
[code]

Then disconnect from the bluetooth so the video will play and then end the MM. Please add the tw

[2018-03-25 03:42] kevinatown commented on #16
Hey, can you provide a screenshot/image of exactly where you want the module to be positioned? Also you can try these positions:
- trayLeft
- trayBottomLeft
- trayRight
- trayBottomRight
- trayCenter
- trayBottomCenter
- topLeft
- topRight
- bottomLeft
- bottomRight
- topCenter
- bottomCenter
- center
and adjusting the size of MMM-Screencast. If these don't work I can see if I can change up the ap

[2018-03-25 04:21] KairosZenith commented on #16
For the issue on the position, i want to fit it right in the middle of everything, in that empty space on the picture in the first post.  The problem that's created is because the calendar module on the left are bigger (wider) than the modules on the right side, it causes my open center area to be shifted to the right of the screen's center line.  i can get the video to play in the middle of the s

[2018-03-26 04:32] KairosZenith commented on #16
Today, i was going to get you that log, but when i tried it, i actually saw MagicMirror in the Cast list.  It never showed up on my phone before (on many tries).  It only showed up on my web browser on my PC.  Since it was showing up on my phone, i tried it and it started up like it should.  i watched a video for a few minutes and then stopped the Cast.  When i stopped the Cast, the module did wha

[2018-03-26 04:43] KairosZenith commented on #16
One other question, since it seems to be working OK for now .... i have the same Cast icon on my Netflix App.  Is there a way to cast it with Screencast or at least some small modifications to the App or is that going to be a big change to get that to work?

[2018-03-27 04:33] DWOODNESS commented on #14
[netstat.log](https://github.com/kevinatown/MMM-Screencast/files/1850393/netstat.log)
[log.log](https://github.com/kevinatown/MMM-Screencast/files/1850394/log.log)

Here are the 2 logs requested. Looks like it's having a lot of issues, works perfectly if i'm connected via 3.5 or just not pushing sound at all.

[2018-03-31 14:18] yatmanyatan opened #17 "i'll get lower fps"
please help me it still freezes

[2018-04-02 01:36] kevinatown commented on #9
Closing this issue, feel free to re-open it/open another issue.

[2018-04-02 01:36] #9 closed

[2018-04-02 01:38] kevinatown commented on #14
Thanks for these logs. I definitely see quite a bit of errors and these logs will help me diagnose whats going on. Also what do you mean by: 'works perfectly if i'm connected via 3.5 or just not pushing sound at all'?

[2018-04-02 02:01] kevinatown commented on #16
Hey Karios, glad to hear that your phone can find the MM now, I am aware that the discovery aspect is not the best and I would love to improve it. Also I will try to work on your positioning issue this week if, I can find time. I am thinking of adding another param that you would be able to add the coordinates of where you would like the video to pop up, so that you could have more freedom than us

[2018-04-02 02:06] kevinatown commented on #17
Hey,

What actually happens when it freezes? Are you able to cast to the device? Can you collect some logs, so that I will have a better idea of what is going on. Run the app like:

[code]

And attempt to cast to the pi, let it play (or freeze) for a bit, stop the cast, and then stop the app and send me the created file: `log.log`.

thanks!

[2018-04-02 02:34] DWOODNESS commented on #14
It means, if I'm connected via 3.5mm audio jack on the PI, it pushes sound to that and works with screencast, if I'm not connected to any sound source at all, aka no 3.5mm and no Bluetooth screencast works as well. It's just when I connect something Via Bluetooth it freezes and does nothing.

[2018-04-02 19:44] yatmanyatan commented on #17
it doesn't like a bug it's seems like this video https://www.youtube.com/watch?v=hDaBgVPXIyw 00:06

[2018-04-26 14:33] kevinatown commented on #17
hey @yatmanyatan I am going to close this issue as you think it isn’t a bug, feel free to reopen it or another one if you have any more issues.

[2018-04-26 14:33] #17 closed

[2018-05-06 00:34] Adsouza98 opened #18 "Video Not playing"
When I connect to the PI It brings up the YouTube page and all... But when I try to play a video on my iPhone 7 or iPad Pro it brings up the thumbnail on the module, but the video will not play.

There was a similar issue with in the issues page but I couldn't see a solution so I'm going to repost it with my output.

On my phone screen it shows the loading video animation and stalls.

This module

[2018-05-10 13:56] kevinatown commented on #18
Hey Andre!

Sorry about the issue and my lateness in getting back to you. Got some questions for ya:
- Is there anymore logs after what you gave here? Before or after?
- When you say the video stalls, do you mean it continues to load?
- Is the thumbnail that appears on the MM of the video? Or just a black screen?
- Are you able to cancel the video and does MMM-Screencast disappear?

[2018-07-28 04:37] Rutul27 opened #19 "Adaptive Resolution?"

[2018-08-27 21:36] Poolitzer commented on #16
hello there.

Just thought about commenting rather then making a new issue.

I would love to put that video a bit down. Just a bit. If I can use custom css class, I would be satisfied. Just tell me how. Or, as you wrote there, you can add it to the module directly? I don't know what is easier for you. But it would be great :)

Thanks for this otherwise amazing module, working without any problems

[2018-09-09 22:59] Rutul27 commented on #19
Hey @kevinatown thanks for your response! I made changes in the app.js file and did "resize: true", so now I'm able to resize the video window but it's not possible to move the window while youtube is still playing! If there's any possible way to move the window anywhere on the mirror screen, please let me know!

[2018-09-14 07:33] rihardiii commented on #2
Hi, i ran the command you suggested and i get the errors like this:
npm ERR! path /home/pi/package.json
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall open
npm ERR! enoent ENOENT: no such file or directory, open '/home/pi/package.json'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     /h

[2018-09-14 07:34] rihardiii commented on #2
needless to say im running it from home folder..

[2018-09-14 08:12] rihardiii commented on #2
sry ran it from MM folder and all was good.

    Starting MagicMirror: v2.4.1
    Loading config ...
    Loading module helpers ...
    No helper found for module: clock.
    Initializing new module helper ...
    Module helper loaded: calendar
    Initializing new module helper ...
    Module helper loaded: MMM-NowPlayingOnSpotify
    No helper found for module: currentweather.
    No helper foun

[2018-09-14 10:03] rihardiii commented on #2
jup, all my problems were with internet connection.

[2018-09-14 20:31] kevinatown commented on #16
Hey @Poolitzer when you say "put that video a bit down", I actually have an outstanding branch that allows you to position exactly where the video will be located on you screen. Unfortunately you cannot just add a css class to it as it is an independent electron app. I will try to get that branch merge in. However in the meantime you can check out that branch and read the README for configuring th

[2018-09-14 20:32] #7 closed

[2018-09-14 20:33] #6 closed

[2018-09-14 20:48] kevinatown commented on #19
Hey @Rutul27, sorry about the delay. So changing the electron browserWindow config in app.js, was the right move. However, the way I have the app configured is to be a frameless brewersWindow instance, which are not draggable, from the [electron docs](https://electronjs.org/docs/api/frameless-window#draggable-region):

[code]
 and since the actual youtube app is coming from google theres not an ea

[2018-09-14 20:50] #15 closed

[2018-10-04 20:36] hannes2323 opened #21 "Javascript Exception when starting stream."
Hi,

first of all, thank you for your great work!

I run MM on raspberry pi 3 b+. MMM-Screencast installed fine and my phone finds the casting service. But when i click on "stream to <hostname>", i get following exception:

[code]
MM was startet with a minimal config, only Screencast as module included:

[code]

I saw another issue on github with the same error, but no solution. Could you please a

[2018-10-05 19:53] kevinatown commented on #21
This is a little tricky. It looks like there is an issue with cross-spawn. Some quick questions:
- what node version are you on?
- what npm version?

[2018-10-05 20:50] hannes2323 commented on #21
Thank you for your reply.

- Node version is : v9.11.2
- npm is : 6.4.1
- Yes, I am running on raspbian.

Is there anything else I can provide or help with?

Thanks for your time!

[2018-10-11 17:30] kevinatown commented on #21
Hey @hannes2323, this was helpful, but unfortunately did not point me to the solution. The issue is that `spawn` can't find the command `npm` not sure why. Let me think about this.

[2018-10-17 23:31] popycok opened #22 "when module code entered mirror wont load"
hey i am very excited to use your module but i have entered the code into my config in a multitude of ways but every time i run magicmirror i get the config module error when i remove the code and revert back to my original setup  it works again,could you please insert the code correctly for me? i am a basic noob when it comes to this stuff /* Magic Mirror Config Sample
`/* Magic Mirror Config Sam

[2018-10-18 23:18] kevinatown commented on #22
Hi @popycok is this how your config file currently looks? if so you should be able to just add:
you can prob just add this:
[code]

To the end of it. Can you send me an example of how your config looks with your config in it?

[2018-10-19 15:13] popycok commented on #22
Here is a example of what my config would look like,  and thank you for your help @kevinatown

  {
          module: "MMM-NowPlayingOnSpotify",
          position: "top_left",

          config: {
            clientID: "removed for privacy",
            clientSecret: "removed for privacy",
            accessToken: "removed for privacy"
          }
                 },

                 {

[2018-10-19 18:01] kevinatown commented on #22
I realized I never got the error. Can you put the exact output from running the app to the error in here, please?

[2018-10-19 22:55] popycok commented on #22
so this is a the basic setup from the sample config that i added your code and i get these errors

[code]

[code]

[2018-10-19 23:41] popycok commented on #22
this is the only way i can get it to work

[code]

[2018-10-20 02:51] #22 closed

[2018-10-20 02:53] popycok commented on #22
I managed to get it working, went from a empty config file and added one module at a time fixing my code errors until I had them all working. And may I say your module is awesome! Thank you

[2018-10-20 13:07] hannes2323 commented on #21
Shame  on me, great point: I put your module in "modules/3rd_party/" to distinguish between stock on other modules. After putting the module directly in "modules" it worked like a charm!

Sorry for all the trouble caused by me and thanks for your help!

This issue can be closed.

[2018-10-20 15:44] kevinatown commented on #21
Awesome! Glad you got it working. If you'd like to keep it in the `modules/3rd_party/` dir you can move it back and change line 28 in `MMM-Screencast/DialServer.js` from:

[code]

to:
[code]

Good luck and enjoy!

[2018-10-20 15:44] #21 closed

[2018-10-20 15:46] kevinatown commented on #22
Awesome! Glad you got it working! The earlier config you sent had the config for `MMM-Screencast` outside the modules array: `modules: [ <place all module config objects here> ]`.

Good luck!

[2018-10-27 22:25] philstue opened #23 "Java Error"
Hey guys,

i installed the screencast module and after trying to start a stream on youtube-app with my iphone
i am running in an error.

"A JavaScript error occured in the main process.
TypeError: Cannot read property "x" undefined at Positioner.move(./MMM-Screencast/node_modules/electron-positioner/index.js:113:44)"

" magicmirror-screencast@0.0.3 start /home/pi/MagicMirror/modules/MMM-Screencast

[2018-10-30 01:35] kevinatown commented on #23
Hey @philstue, so it looks like you might of configured the module incorrectly. Can I see an example of your `config.js`?

It looks like `config.position` should be one of `['bottomRight', 'bottomCenter', 'bottomLeft', 'center', 'topRight', 'topCenter', 'topLeft']` you provided `bottom_right`.

[2018-10-30 18:20] philstue commented on #23
my mistake.

it works now!! you were right.

Thanks for your help.

[2018-10-30 19:11] kevinatown commented on #23
No worries. Enjoy!

[2018-10-30 19:11] #23 closed

[2018-11-02 21:11] LupoLucario commented on #18
Same problem here...

[2018-11-07 15:29] kevinatown commented on #18
@Adsouza98 @LupoLucario sorry for the extremely late reply if you could get an entire log of what happens when you try and launch the module and play a video. you can do it by running the MM with this command:

[code]

Keep the MM running and try to cast, play, and then disconnect from the module. If you could then post the contents of that file here, so that I can look at it?

[2018-11-07 15:37] kevinatown commented on #14
Hey @DWOODNESS so I hate to say this, but I believe this is a configuration problem with your bluetooth device/ALSA lib. I don't really have a bluetooth device that I'm using and don't have a good way to test this. I did find this: https://superuser.com/questions/273561/how-can-i-make-chromium-use-a-different-alsa-device don't know if it will be helpful. Pretty much what I think you need to do is

[2018-12-07 16:15] williamhemmingsen opened #24 "High CPU, even when not casting"
MMM-Screencast uses an additional 25% CPU even when not casting.  This causes heat issues.  Any way to reduce CPU usage?

[2018-12-07 20:07] williamhemmingsen commented on #24
never mind I fixed it. please close

[2018-12-13 23:11] #24 closed

[2018-12-14 07:23] thejosehuerta opened #25 "Play videos using only phone?"
Hello,

First I want to say thank you for this great module.
I hope this isn't a silly question, but how can I play YouTube videos using **only** the YouTube app?

To elaborate, the installation was successful.
Once on the YouTube app on my phone, I am able to select any video and can choose my Raspberry Pi 3 as a device to cast to. I select my raspberry and the connection is successful.
However,

[2018-12-15 15:14] LupoLucario commented on #18
Hey, thank you for the answer. Here is my log file:

[code]

Thank you for helping me =)

[2018-12-15 20:19] bommel947 commented on #9
Can you re-open the issue?

Screencast was working initially. But suddendly it stops with the same java exception when trying to cast any video.
I have pulled and installed the latest version from git

npm version: 5.6.0
nodejs: 9.11.2

My Screencast config:

{
        module: 'MMM-Screencast',
        position: 'bottom_right', // This position is for a hidden <div /> and not the $
        config:

[2019-01-03 06:26] trode21 opened #26 "ERROR WHEN CASTING"
The raspberry pi comes up on my YouTube phone app and when i try and cast it this error comes up please help!

screencast stderr: /home/pi/MagicMirror2/modules/MMM-Screencast/node_modules/electron/dist/electron: /lib/arm-linux-gnueabihf/libc.so.6: version `GLIBC_2.27' not found (required by /home/pi/MagicMirror2/modules/MMM-Screencast/node_modules/electron/dist/electron)

screencast stderr: npm ER

[2019-01-04 16:51] mqm165 commented on #26
I am receiving the same error

I've tried on multiple iOS devices with he latest updates, I am using MM on Raspberry pi 3 B+ with 2018-11-13-raspbian-stretch-full and latest update of Node js, NPM, MM2, PM2.

I've tried removing all the modules from the config file and leave only the screen cast, still didn't work.

Following is the log file for the error:

0 info it worked if it ends with ok
1 ve

[2019-01-05 19:05] kevinatown commented on #9
Hey @bommel947 this was an issue with the config, Theres two positions in the config for MMM-Screencast note that the inner config's portion is for the actual cast window and accepts a value of: `['bottomRight', 'bottomCenter', 'bottomLeft', 'center', 'topRight', 'topCenter', 'topLeft']` (items are camel cased look [here](https://github.com/kevinatown/MMM-Screencast)). Also since this was a very s

[2019-01-06 18:33] kevinatown commented on #25
Hey @thejosehuerta!

So you should be able to control it completely from your phone's app. A pairing code gets sent that then pairs the two devices. I have a few questions for you:

- What phone/os version/youtube app version are you using?
- Are you running you MM on a pi/what version?
- Probably goes without saying, but are both the pi and phone on the same network?

Thanks!

[2019-01-06 19:13] kevinatown commented on #18
So nothing looks out of the ordinary wrong here. What happens if you try pausing and playing a video? Or selecting another video?

[2019-01-06 19:21] kevinatown commented on #26
@trode21 did you follow the setup steps for MMM-Screencast? Your error looks like there might be an issue with the electron version you are using. Pretty much you need to (from the MM base directory):

[code]
Then go back to the base directory of and start it again.

@trode21 and @mqm165 couple other questions:
- Where in the directory structure is the MMM-Screencast kept? is it just in `modules`

[2019-01-13 01:39] LupoLucario commented on #18
Hmm strange. When selecting another video or pausing, nothing happens. Even the play button does  not change to a pause button. When connecting a mouse and clicking play on the mirror itself, the play button turns to a pause button but the video still does not play :/
Also the displayed lenght of each video is 0:00.

[2019-01-16 17:39] trode21 commented on #26
Yes my Screencast folder is in the modules folder and that is where i installed it as well. I got it to come up on my phone but it will not connect and play the video.

[2019-01-30 20:34] mwaldegg commented on #18
Glad to hear, that it also works for you!

and yes - got the sound with my USB soundcard working now with this simple config:

~/.asoundrc:
`defaults.pcm.!card 1`
`defaults.ctl.!card 1`

Markus

[2019-02-12 00:19] kevinatown commented on #18
Oh nice! Glad y'all were able to figure out the issue. It's good to know that this issue was definitely cause by using an external sound card.

@mwaldegg Marcus, thanks a lot for the solution. I am going to close this issue. Feel free to open another with any other issues.

[2019-02-12 00:19] #18 closed

[2019-02-12 00:26] kevinatown commented on #26
Hmm...

@trode21 So i have some other questions:
- have you tried removing all of the node_modules for MMM-Screencast and reinstalling them:
[code]
- Are you using any other bistro besides raspbian on your pi?
- Do you have an external sound card/how are you connecting sound to your pi?
- Is there anything else that could be using this sound card?

Sorry, that I have been kinda absent, been swampe

[2019-02-12 00:28] kevinatown commented on #14
Hey @DWOODNESS I am going to close this issue as it has gotten stale. Also some others users have found a solution to the sound issue requiring ALSA lib, here: https://github.com/kevinatown/MMM-Screencast/issues/18

Feel free to reopen it if you're still having this issue.

[2019-02-12 00:28] #14 closed

[2019-02-18 14:50] aacmsu opened #27 "Casting more apps"
This is a great module, How can I cast Google Photos, SoundCloud and ESPN?

[2019-02-24 07:46] AdnanAhmed97 commented on #26
An easy way would be rebuiding the electron

[2019-03-12 20:52] kevinatown commented on #27
Hey @aacmsu! So originally I was planning on adding more cartable features, unfortunately I believe that my initial idea of implementing these features were a much larger scope than I expected. I will try to get back into it when I find more time and research a way to add more functionality.

[2019-03-23 21:29] Hakawe commented on #26
Hey man,
I have got a similar issue and can't figure out why it doesn't work.
INFO: I am an absolute beginner with raspian, etc. I just want to set up my MM and only used some manuals for it. And my english is pretty bad, so I am sorry if its hard to follow.

What happened:
**console:**

<

pi@raspberrypi:~ $ cd MagicMirror
pi@raspberrypi:~/MagicMirror $ npm start

getrandom indicates that the ent

[2019-03-25 12:44] aHVzY2g commented on #26
+1 I got the same error running in servermode with a fresh installtion.
[code]

Using the youtube paring url from the log, I was able to stream to it openend in firefox.

[2019-03-29 20:36] Hakawe commented on #26
Problem solved!

Just run electron's install.js manually. Somehow `npm install` didn't do its job fully (also did update electron's dependency to version 2.0.16, perhaps the combination did it).

[2019-04-12 06:36] dxfan227 commented on #24
@williamhemmingsen can you describe what the issue was and how you fixed it please?

[2019-05-22 01:48] anthonyfish opened #28 "Casting from chrome?"
Thanks for this amazing module. Everything works out of the box and I am able to cast from my phone's YouTube app. But I can't seem to cast from chrome using the cast extension from desktop connecting to the same network. I wonder if casting from chrome is fundementally different from cast from phone?

[2019-05-22 12:41] kevinatown commented on #28
Hey! @anthonyfish Thanks for reaching out. This module was implemented using the Discovery and Launch Protocol and I believe chrome uses a different protocol. Unfortunately, I have not had time to look into and implement other protocols and build out more support. Hopefully, I will get sometime.

As theres not much I can do about this now, I am going to close this issue. Thanks again!

[2019-05-22 12:41] #28 closed

[2019-05-26 20:57] fisherbt opened #29 "Video plays, but no audio"
I've got the module installed and when I cast from my phone, the video plays, but I don't get any audio.  I've got a USB device set as the default, and that's working properly in other Pi apps and in other MM modules, like MMM-RandomYouTubePlayer.  I've also been able to cast straight to the Pi with both audio and video using https://github.com/HaarigerHarald/omxiv.  In omxiv, the user must select

[2019-05-29 16:47] AltOfCtrl commented on #25
I am having this same issue.

iPhone SE iOS 12.3

Youtube App -14.19

Magic Mirror on a Raspberry Pi 3 Model B

And both are on the same network

[2019-05-31 09:01] kr1st4ps opened #30 "Doesnt work"
When I put it in the config.js and run MagicMirror, the whole MagicMirror is just black and no other modules show up either.

[2019-06-04 17:39] kevinatown commented on #30
Hey @kr1st4ps sorry that it’s not working for ya. Can you paste your MM’s config in here (please remove all keys first :)

Thanks,
Kevin

[2019-06-04 17:43] kevinatown commented on #29
Hey @fisherbt sorry that your audio is not working. MM-screencast uses an electron instance to launch the cast window. Can you provide more information about your USB device and audio config used in other modules?

[2019-06-04 20:01] kr1st4ps commented on #30
[config.js.txt](https://github.com/kevinatown/MMM-Screencast/files/3254276/config.js.txt)

[2019-06-05 11:44] moryoav opened #31 "[Feature Request] Send notifications"
It would be great and maybe not too difficult if this module would send some notifications when YouTube window is created/closed. This would allow more complex interactions, such as hiding certain modules when the YouTube window is open to prevent clutter.

[2019-06-10 11:12] fisherbt commented on #29
Hi.  I'm using these speakers
https://www.adafruit.com/product/3369?gclid=CIHV5M7j3uICFVm5wAod1kQOlA and
just followed their instructions on how to set them up for Stretch:
https://learn.adafruit.com/usb-audio-cards-with-a-raspberry-pi/updating-alsa-config.
Is there anything else I can provide you with?

On Tue, Jun 4, 2019 at 1:43 PM Kevin Townsend <notifications@github.com>
wrote:

[2019-06-10 19:25] kevinatown commented on #31
Hey @moryoav, this is a great idea. If/when I find sometime I'll try to implement this. Thanks!

[2019-06-10 19:57] kevinatown commented on #30
So nothing looks out of the ordinary with that config (besides the commented out config). When you have the MMM-Screencast into the config are there any logs/errors in the terminal?

Can you run:
[code]

Allow the MM to start up, then you can kill it and paste the `log.log` file in here?

thanks!

[2019-06-16 08:51] kr1st4ps commented on #30
Starting MagicMirror: v2.7.1
Loading config ...
Loading module helpers ...
No helper found for module: clock.
Initializing new module helper ...
Module helper loaded: calendar
No helper found for module: currentweather.
No helper found for module: weatherforecast.
Initializing new module helper ...
Module helper loaded: MMM-NowPlayingOnSpotify
Loading module helpers ...
No helper found for module:

[2019-06-17 00:32] naletneeda23 opened #32 "TLS"
So this is my prolem
I can finde magicmirror on youtube
Running:
![image](https://user-images.githubusercontent.com/51893175/59571675-85c92180-90a7-11e9-8ab2-b2d486866057.png)
After:
![image](https://user-images.githubusercontent.com/51893175/59571713-dc366000-90a7-11e9-9242-1abde7a856bd.png)
Thanks!

[2019-07-07 15:35] Tech-Smarts commented on #30
Remove the Spotify module and reinstall it.

[2019-07-07 15:35] Tech-Smarts commented on #30
If that does not work, then you might have to completely reinstall Magic Mirror 2.

[2019-07-07 16:16] Tech-Smarts opened #33 "Youtube Discovers Raspberry Pi But Does Not Cast the Video"

[2019-07-07 16:18] Tech-Smarts commented on #33
Here is the error:
npm WARN npm npm does not support Node.js v10.15.2
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 4, 6, 7, 8, 9.
npm WARN npm You can find the latest version at https://nodejs.org/

Starting MagicMirror: v2.8.0

[2019-07-07 16:19] Tech-Smarts commented on #33
I honestly don't know what to do.

[2019-07-11 19:16] KutscheMa opened #34 "Java Issue"
Hey Kevin,

this is my issue:

Uncaught Exception:
TypeError: Cannot read property 'x' of undefined
    at Positioner.move (/home/pi/MagicMirror/modules/MMM-Screencast/node_modules/electron-positioner/index.js:113:44)
    at App.<anonymous> (/home/pi/MagicMirror/modules/MMM-Screencast/app.js:41:14)
    at Object.onceWrapper (events.js:290:19)
    at emitTwo (events.js:111:20)
    at App.emit (even

[2019-07-12 15:51] kevinatown commented on #32
Hey @naletneeda23! Sorry about the issue? can you provide a bit more information? The first screenshot looks like it opened and then it stopped correctly?

I do see a few potential issues, mostly missing fonts and `force_s3tc_enable overridden by environment` is this correct?

[2019-07-12 15:54] kevinatown commented on #34
Hey @KutscheMa! It looks like you didn't provide a position for the youtube window in the config. Can you paste an example of your config?

Also you can see the config example here: https://github.com/kevinatown/MMM-Screencast/blob/master/README.md

[2019-07-12 15:58] KutscheMa commented on #34
Hi Kevin,

i have fixed it. It was the position. Thank you.

[2019-07-12 16:03] kevinatown commented on #33
Hey @Tech-Smarts! Sorry about the issue. It looks like you are using an unsupported version of node with the current version of npm. I'd recommend either trying to update npm or install a different version of node with `n`.

update npm:
[code]

update node with n:
[code]

I'd recommend only updating npm first and then going and reinstalling all dependencies in both your MM and MMM-Screencast. Also

[2019-07-12 16:09] kevinatown commented on #30
@kr1st4ps I think @Tech-Smarts was on to something here. This looks like an issue with `MMM-NowPlayingOnSpotify`, it looks your MM dies right after that gets loaded. Also I don't see any mention of MMM-Screencast.

[2019-07-12 16:17] kevinatown commented on #25
Hey @AltOfCtrl! So you are seeing the same issue that the video doesn't automatically play when you cast it? Are you able to manually start the video?

[2019-07-12 16:18] kevinatown commented on #29
@fisherbt sorry about the late reply, I have been on vacation and haven't been online much. Let me look into this a bit.

[2019-07-12 16:32] Tech-Smarts commented on #30
Yeah, you will just have to remove the MMM-Screencast module and remove it from the config file.  You can set it up again after you do that.  Oh and thank you Kevinatown for giving me that solution.  I am out of town so I’ll try it when I get back.  But thanks.

[2019-07-14 16:42] AltOfCtrl commented on #25
I can start the video by clicking on the black area where it should appear with my mouse via VNC Viewer.

[2019-07-19 21:12] pooookz opened #35 "Bluetooth speaker"
I can cast youtube videos just fine with no sound
when i connect my bluetooth speaker the video just buffers

[2019-07-23 03:21] fawazymohsin opened #36 "Not working...."
So when I run npm install, 12 vulnerabilities are found. My phone recognized the raspberry pi but when I click to connect, my phone just displays "connecting" and it never appears on my pi. I've tried npm audit fix, but it doesn't let me fix the dependencies unless I do it manually.

Any idea on how you can help me ?

[2019-08-12 00:31] lubell16 commented on #36
I am getting the same error. Were you able to solve it?

[2019-08-12 18:44] kevinatown commented on #36
Hey @fawazymohsin and @lubell16!

Sorry about the delay on getting back to y'all, Ive been really busy. Anyways, the "npm install, 12 vulnerabilities", shouldn't have any affect on MMM-Screencast, it's mostly letting you know that the version of electron required is vulnerable. I'll try to update it, so that this warning goes away.

As for your actual issue, do y'all happen to have anymore informa

[2019-08-12 19:19] lubell16 commented on #36
Hey @kevinatown
I realized this and ended up getting it to work if I removed MMM-Spotify player and loaded that in after. I love the module but quick question.
When I first start casting it sounds choppy for 20 ish seconds or I can wait 20 seconds before hitting play. Is there a way to get it not to sound choppy for the first 20 seconds? If not no big deal I can just let it pause before playing an

[2019-08-22 09:34] WolfShadowheart commented on #36
Hi, I have been unable to get this working as well. I force installed the npm dependencies, however config/config.js never appears, thus I cannot edit the file to add the array.

I am also new to this, however I have followed the instructions exactly.

[2019-08-22 10:20] WolfShadowheart commented on #36
Aha, so I have figured out my issue. config.js does not lie within the modules, rather under MagicMirror/config

[2019-08-24 10:14] kaeffin opened #37 "Sound problems"
Hello,

I get this error log:

ALSA lib pcm.c:8599:(snd_pcm_set_params) Unable to set hw params for PLAYBACK: Das Gerät oder die Ressource ist belegt

Any Idea ?
I want to use a JBL Go as Speaker.

[2019-08-24 20:17] WolfShadowheart commented on #36
I have also been prompted for a new npm update after resolving an mmpm
[as referenced here](https://github.com/Bee-Mar/mmpm/issues/5#issuecomment-513429374).

After it installed, I began using CLI mmpm to install various packages, and after I install MMM-pages, i was prompted with an npm update from 6.9.0 to 6.11.2, asking that I run

     npm install -g npm

I did so without sudo and needed write

[2019-08-28 17:13] #26 closed, assigned to nobody

[2019-08-30 19:38] KeyShr3kt opened #38 "Video doesn't load"
I installed everything as you said. It showed me that there are 13 vulnerabilities, but I read that it doesn't affect the module, so I moved on. I installed the module, I connected the phone to the mirror, but when I wanted to play a video, it just loaaaaaaaaaaads and doesn't do anything else. Can you think for a solution? Thanks!

[2019-08-30 19:39] KeyShr3kt commented on #38
I really like the idea of the module and I really want to make it work. By the way, I'm using a bluetooth speaker connected to the Pi and it seems that they are a little problematic. Maybe there's the problem.

[2019-08-30 19:54] KeyShr3kt commented on #38
Sooo, I just tried to play via analog connection to the same speakers and it loads the video right when I switch to analog. It's a bluetooth problem. :( Do you have any idea what can it be?

[2019-08-30 21:49] kevinatown commented on #38
Hey @KeyShr3kt! Sorry to hear MMM-Screencast is not working with your bluetooth speaker. I probably need to buy one and set it up to figure out what's going on here.
Do you think you can give me some more information on you hardware/configuration to see if there is anything that sticks out?

- what speaker are you using?
- did you do any configuration?
- what os/hardware is the MM running on? (Ras

[2019-09-10 09:03] AltOfCtrl commented on #25
bump thread

@kevinatown

[2019-09-14 11:53] businessclimber commented on #5
Hi

I am getting an error while install MMM-Screecast module. The following error comes when i install npm. I am using Raspberry pi 4.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! electron@6.0.9 postinstall: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron@6.0.9 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional

[2019-09-20 17:31] Blackhawk50000 commented on #38
I have the same problem. my youtube app says loading. but nothing happens on the mirror.
i tryed it with analog 3,5mm headphonejack...
nothing :-(

[2019-09-21 19:22] rothestar opened #39 "error loading See attached log"

[2019-09-21 19:24] rothestar commented on #39
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node',
1 verbose cli   '/usr/bin/npm',
1 verbose cli   'start',
1 verbose cli   'http://www.youtube.com/tv?pairingCode=FC23707C-CDE7-4C43-AE00-BEC3D5BB2468&theme=cl&dialLaunch=watch',
1 verbose cli   'bottomRight',
1 verbose cli   '500',
1 verbose cli   '300' ]
2 info using npm@6.9.0
3 info using node@v10.16.3
4 verbose run-script [ 'pr

[2019-09-28 03:00] georgebalt commented on #39
I run into a similar error and log being generated when attempting to cast a video. Fresh Magic Mirror and MMM-Screencast install.

[2019-09-28 11:01] maximilianfriedrich commented on #30
Hi,

I have the same issue. How do I remove/unintall NowPlayingOnSpotify properly? And what should I do next? Reinstall Screencast or also uninstall Screencast and reinstall?

I went to MMM-NowPlayingOnSpotiy directory in modules and typed `npm uninstall` but I don't know if it is properly removed now.

[2019-09-28 16:53] kevinatown commented on #30
Hey @maximilianfriedrich, `npm uninstall` just uninstalls the dependencies for NowPlayingOnSpotify, if you only do this and keep the config in the `config.js` then your MM may not work. To remove NowPlayingOnSpotify from being used in your MM, simply remove it's configs from the `config.js`.

If you don't want to keep NowPlayingOnSpotify at all then you'll need to remove the it from the `modules/`

[2019-09-28 17:13] kevinatown commented on #39
Hey @georgebalt and @rothestar this is very odd it looks like there is an issue launching electron within MMM-Screencast. Did you follow the instructions and install all of MMM-Screencast's dependencies? Also I updated some of the packages, so you might want to pull the most recent version of MMM-Screencast.

[2019-09-28 17:16] kevinatown commented on #38
Hmm. I'm not quite sure whats up with using different sound outputs. I will try and find time to look into this. In the meantime can you try from the MMM-Screencast directory:
[code]

I'm hoping, but not guaranteeing that just updating electron will work.

[2019-09-28 17:21] kevinatown commented on #25
Hey! @AltOfCtrl, sorry it's been taking me forever to get back to ya, I have been slammed with work. Can you try a few things/answer these questions:
- Can you play and pause it with your phone?
- Can you select another video from your phone and does that video play?

Thanks!

[2019-09-29 16:33] ThaoDChan commented on #25
Hello,
I can confirm the problem that @thejosehuerta and @AltOfCtrl seem to be having on my MMM. Tested with the newest YouTube apps (14.38) on iOS and Android (iPhone X and Galaxy S8); Fresh install of MM and the MMM-Screencast-Module (other Modules are installed too, will try a fresh installation with only the MMM-Screencast-Module as soon as I am finished with my full configuration)
The phone i

[2019-10-03 21:13] Zpider23 opened #40 "Config.js issues"
when loading up MagicMirror I get this error:
`WARNING! Could not validate config file. Starting with default configuration. Please correct syntax errors at or above this line: /home/pi/MagicMirror/config/config.js:45
		var config = {
		^^^

SyntaxError: Unexpected token var
    at new Script (vm.js:74:7)
    at createScript (vm.js:246:10)
    at Object.runInThisContext (vm.js:298:10)
    at Modul

[2019-10-05 08:13] the7reek opened #41 "Module not working anymore"
when trying to cast, a window opens that says that this version of youtube doesn't work with this device anymore and goes to youtube homepage.

[2019-10-05 20:45] everybodyfloats commented on #41
I am experiencing this issue as well. It was working last week...

[2019-10-05 22:12] samsnv commented on #41
Hi friends,whats this new problem!! {the youtube app on this device is no longer available}??

[2019-10-06 15:40] kevinatown commented on #41
Hi y'all,

So it looks like youtube pulled the plug on their open platform tv, which MMM-Screencast was using. I am currently working on a fix, but not sure when I will have it done. Sorry about the inconvenience.

[2019-10-08 22:07] samsnv commented on #41
thank you Kevinatown and good luck...

[2019-10-26 07:36] pociorotto commented on #41
Ciao Kevinatown..Scrivo dall'Italia....Spero tu posso ripristinare il modulo...Era molto interessante

[2019-10-28 21:47] kevinatown commented on #41
Hi all! Sorry about the delay on this, been swamped at work and the fix I had in mind turned out to be a lot more involved than I thought. I'm still working on it tho and will keep y'all in the loop on my progress.

[2019-11-03 09:42] Podgrade commented on #41
Hi Kevin,

the browser of my Samsung TV for example is still able to call the YT/tv page.
To costumize the headers of the requests could be a possible workaround.

I am going to play around and see if I can help out.

[2019-11-03 21:54] kevinatown commented on #41
@Podgrade i like it. So YouTube quit YouTube tv to “force” users to access it through other sources. I’ve been attempting to get a small android TV up and running, but so far to no luck.

I do like this take: somethings to keep in mind tho:
* I don’t know if YouTube took their deployed yt tv down or are just routing traffic based on the headers
* if it’s still up, I’m pretty sure there’s a way to

[2019-11-03 23:25] Podgrade commented on #41
@kevinatown yes it is definitively running. They are redirecting everything which is not Apple/Samsung/etc. to the main yt page.

Try it out with the curl command:

**`curl -L http://youtube.de/tv`**
**redirects me to the main page**

**`curl -L -A "SamsungBrowser/1.0 (SMART-TV; Linux; Tizen SamsungBrowser/1.0 TV Safari/538.1" http://youtube.de/tv`**
**leaves me on the tv plattform.**

Since I als

[2019-11-03 23:50] kevinatown commented on #41
@Podgrade this is great news! Thank you for finding this! I believe there is or at least _should be_ a way to intercept all requests and add/change headers. I’ll definitely make time to look into this!

[2019-11-05 20:40] kevinatown commented on #41
@Podgrade your solution worked like a charm. I also had to add a bit of support for autoplaying on devices as it seems that chromium doesn't like autoplay anymore.

@the7reek @nadalalyafaie @pociorotto @everybodyfloats @samsnv please pull from the MMM-Screencast directory do the following:

[code]

This should solve the issue. Please feel free to reach out/open another issue if there is anything e

[2019-11-05 20:40] #41 closed

[2019-11-05 20:44] kevinatown commented on #40
Hey @Zpider23 can you post you're entire config file in this issue with the `api_key`s removed?

The issues seems to be something with your formatting and it looks like GitHub is picking up on some of the markdown inconsistencies. So if you can just paste the file in here?

Also as a side note, you should keep your api keys private, so you might want to invalidate the ones you already posted in he

[2019-11-05 21:09] the7reek commented on #41
Thank you so much!! I'll try this later

Il mar 5 nov 2019, 21:40 Kevin Townsend <notifications@github.com> ha
scritto:

[2019-11-05 23:39] Podgrade commented on #41
Great @kevinatown!

I tried it - works like a charm!
Thank you!

[2019-11-09 08:41] dnwnd16561 opened #43 "Error // If I run it, I will get an error."
When I run a smart mirror and connect to YouTube, I encounter errors.
Here's what it says.

A JavaScript error occurred in the main process

Uncaught Exception:
TypeError: Cannot read property 'x' of undefined
  at Positioner.move(/home/pi/MagicMirror/modules/MMM-Screencast/node_modules/electron-positioner/index.js:113:45)
at App.<anonymous>(/home/pi/MagicMirror/modules/MMM-Screencast/app.js:50:14

[2019-11-10 15:27] kevinatown commented on #43
Hey @dnwnd16561 this looks like a config issue. Can you paste your config.js in here (with all of the api keys removed). Thanks!

[2019-11-11 01:38] Smiley-94 opened #44 "problem with electron while installing"
I don't know if I should open a ticket here but I don't seem to get the plugin to install, I get this error while installing and I did not found a solution to it, I'm running the latest version of magic mirror on a raspberry p zero w, here is a log of the problem, thank you in advance for your help

[code]

<img width="998" alt="error" src="https://user-images.githubusercontent.com/56447924/685549

[2019-11-11 16:25] kevinatown commented on #44
Hey @Smiley-94!

Sorry bout this issue, seems like I should have been testing on pi-zero. Theres 2 options for solving this:

1. update electron in the `MMM-Screencast/package.json` to a supported version for `linux-armv6l`. According to their [releases](https://github.com/electron/electron/releases/tag/v7.1.1) `7.1.1` should work.
2. Remove electron from the package completely and just install it

[2019-11-11 16:25] #44 closed

[2019-11-12 08:18] pandora0309 commented on #43
This problem has been solved. But I'm connected to the same Wi-Fi, but I can't connect the raspberry pie to YouTube.

[2019-11-12 15:59] kevinatown commented on #43
@pandora0309 this seems to be off topic for this issue. Can you please open a new issue with the logs of you starting up the app, trying to connect, and then closing the app.

Thanks!

[2019-11-12 23:15] pandora0309 commented on #43
Thankfully, I've been able to correct the error. Thank you for your help!! Thank you for creating these programs.

[2019-11-26 16:15] Djninja926 opened #45 "When ever I run it my WiFi crashes"
Anytime I run the magicmirror my home wifi crashes and this started happening after I installed the screencast module.

[2019-11-30 20:27] GoodWillGustin opened #46 "Auto-close?"
Thank you so much for this -- it's the #1 module I was looking for on MagicMirror. Wondering if it's possible to have the module disconnect/close once the playlist finishes.

Right now the windows stays open until I go back in the casting device and manually 'Disconnect' the stream. Thanks!

![MM-Youtube autoclose](https://user-images.githubusercontent.com/58321783/69905735-eadab000-1385-11ea-8de3

[2019-12-02 17:46] kevinatown commented on #45
Hi @Djninja926, this is an odd issue, I would think that it probably does not have anything to do with the module at all. What happens is that the module opens up a small server to preform the DIAL service on. The only thing I could think of would be that this port is being used by something else on your pi? What modules do you have? What wifi router do you have?

[2019-12-02 17:48] kevinatown commented on #46
Hi @GoodWillGustin, this is a good idea. Let me see if I can find sometime to implement this.

[2019-12-05 14:20] jag-k opened #47 "Change "raspberrypi" on Screencast menu"
How to change "raspberrypi" on screencast menu?

[2019-12-05 15:31] kevinatown commented on #47
Hey @jag-k! So I just left the default hostname for that screencast menu, so you can simply change the hostname of your pi to whatever. But, I will also implement a config so that you don't have to change your pi's name.

Look for the change here this week/weekend.

[2019-12-11 03:18] Djninja926 commented on #45
the other modules that I have, are MMM-NowPlayingOnSpotify and MMM-AlarmClock

[2019-12-14 00:19] lougehrig10 opened #48 "Doesn't work when running serveronly"
From what I understand by reading the error logs, you're spawning an electron window over the existing electron window in order to play the video right? If this is the case, it won't play the video on clients connected to the magic mirror server.

Might I suggest that instead you implement an HTML element in the magic mirror webpage and use javascript sockets to inject the URL into that element so

[2019-12-18 16:02] kevinatown commented on #48
Hey @lougehrig10, you are correct with how this module works. Unfortunately, you can't really just stick an HTML element (like an iframe) and pass it the URL as the host (domain) serving up the resource _might_, and in youtube's case will, block the request with their CORS policy.

I originally wanted to do something similar to what you expressed, but couldn't due to this limitation. I am not sure

[2019-12-22 09:21] williamsollin commented on #47
It would be amazing if that was a config option!

[2020-01-01 01:32] AdamStripz commented on #2
Hello, i'm having the same problem, here's the error after running display=:0 npm start >> log.log

A JavaScript error occured in the main process
Uncaught Exception
TypeError: Cannot read property 'substr' of undefined
  at Positioner._getCoords (/home/pi/MagicMirror/modules/MMM-Screencast/node_modules/electron-positioner/index.js.85:20)
  at Positioner.move(/home/pi.MagicMirrorr/modules/MMM-Scre

[2020-01-05 17:39] ed0zanki commented on #38
nope.. as soon as you use a bluetoothSpeaker (EasyAcc here) ist does not work (did update electron). remove the bluetoothSpeaker...everything is fine .. (at least the video runs :) )

[2020-01-07 14:38] LeviDavisCode commented on #47
hi, I was wondering how I could change it in the config?

[2020-01-09 19:20] UltSurv commented on #43
Where has this been fixed? I'm having the same problem.

[2020-01-09 23:53] kevinatown commented on #38
Hmm ok, I wonder if it's something to do with YouTube/Chromium autoplay? If so I may have a fix here in a bit. I've been on vacation and are only getting back in the shake of things, so it might be a bit longer till I can get the MR out.

[2020-01-09 23:55] kevinatown commented on #47
Hey sorry y'all, been on vacation and just getting back in the swing of things. I have made some changes and will try and merge get them merged.

[2020-01-10 20:45] #34 closed

[2020-01-11 17:42] kevinatown commented on #47
Hi @LeviDavisCode @jag-k @williamsollin so now you should be able to change the names in the config. please see the readme for the new updated configs. Thanks!

[2020-01-11 17:42] #47 closed

[2020-01-11 17:45] jag-k commented on #47
:kissing_heart::kissing_heart::kissing_heart::kissing_heart::kissing_heart::kissing_heart:

[2020-01-13 22:13] Yuhan-1in opened #51 "can't get it work"
this happened when I try npm install. I added the config. My mirror is working but I can't cast my video.

audited 369 packages in 8.494s

1 package is looking for funding
  run `npm fund` for details

found 11 vulnerabilities (5 low, 2 moderate, 4 high)
  run `npm audit fix` to fix them, or `npm audit` for details
pi@raspberrypi:~/MagicMirror/modules/MMM-Screencast $ npm fund
magicmirror-screenca

[2020-01-13 22:31] kevinatown commented on #51
Hey @Yuhan-1in! nothing looks out of the ordinary with the logs you put. Can you do the following:
- attach a copy of you config.js (with all api keys removed)
- send me some more logs by doing the following:
[code]
- let the MM run for a bit, then kill it, and finally sending me that file `log.log`.
- Also what other modules are you using?

Thanks!

[2020-01-15 13:35] Yuhan-1in commented on #51
Hi @kevinatown,
I can't get the log to work. It showed me this when I use the command you gave me.
here is full my config and I also attached the log from the npm error. Thank you!
[config.txt](https://github.com/kevinatown/MMM-Screencast/files/4065101/config.txt)
[log.txt](https://github.com/kevinatown/MMM-Screencast/files/4065118/log.txt)

[code]

[2020-01-15 13:53] Yuhan-1in commented on #51
I don't know what happened but I update my pi again and it works now. Thank you

[2020-01-15 14:32] kevinatown commented on #51
Haha some times that's all that is needed. Enjoy :)

[2020-01-15 14:32] #51 closed

[2020-01-18 01:29] maximilianfriedrich commented on #30
Hey @kevinatown,
thank you for your kind reply and your patience and sorry for my late response.
I was busy with a photo booth and an arcade raspberry pi project. Now I finally got the time to take a look at my MagicMirror again.

I followed your suggestion and used `npm uninstall` in the `Screencast` and in the `NowPlayingOnSpotify` folder. Afterwards I remove both folders from the `modules` dire

[2020-01-21 09:33] Mert4531 opened #52 "Position Issue"
Hi there
First of all this module is really good. I have a little problem
I want to change the position of the screencast window to lower_third. However this module position settings don't have lower_third position.
Is there any other method of setting this module to lower_third position?

[2020-01-21 09:44] Mert4531 opened #53 "Position Issue"
Hi there;

First of all this module is so good. I have a little problem I want to change screencast window position to lower_third. However this module position settings don't have lower_third position.
Is there any other method of setting this module to lower_third position?

[2020-01-21 16:05] kevinatown commented on #53
duplicate of #52

[2020-01-21 16:05] #53 closed

[2020-01-21 16:08] kevinatown commented on #52
Hi @Mert4531, so there really isn't a `lower_third`, the current options are: `'bottomRight', 'bottomCenter', 'bottomLeft', 'center', 'topRight', 'topCenter', 'topLeft'`. You could potentially use either `bottomeCenter` or `bottomLeft` and set the width to achieve a `lower_third` position.

If this doesn't work, I was going to implement a more direct positioning config, where you can give the x,y

[2020-01-28 07:54] sudomax opened #54 "No sound on the videos"
This module does not work for me. I did a fresh install but it didn't solve my issues.

- First, the youtube screen would show "Something went wrong". By updating electron to version 6.0.0, it solved this issue. The latest version of electron does not work at all and brings an error when attempting to open the youtube window.
- The sound of the video is not working. I get the sounds from the youtu

[2020-02-02 22:46] kevinatown commented on #54
Hey @sudomax sorry to hear about the issues. Have some questions for ya:
- What other modules are you using? (I know there are some issues with some other modules that I need to fix)
- Can you run you MM and log the output when you connect, play the video, and then close the cast? You can do it like:
[code]

then paste the log.log in here?

[2020-02-03 18:57] sudomax commented on #54
Hey @kevinatown,

- I tried from a clean MM install, with no other module installed. The only thing I installed on this RP is the google assistant sdk. Below is a copy of my _.asoundrc_ file if that can help.
- Here is the log below. I installed the PIR-sensor module in the meantime, it doesn't look like it affected this module. I confirm that I can hear the sounds of the youtube menu when I use m

[2020-02-06 21:52] Bernard-h opened #55 "Javascript error."
Hi I tried this, but it doesnt work please see the javascript error which is displayed on my mirror when I cast.
![Schermafbeelding 2020-02-06 om 22 51 32](https://user-images.githubusercontent.com/60395872/73981798-58313100-4933-11ea-893b-51de21f8858d.png)

[2020-02-07 09:24] #52 closed

[2020-02-07 09:30] Mert4531 opened #56 "Video Open and Close Problem"
Hi there;
I have a bug about this module. Sometimes I open a video from Youtube and reflect to mirror. Everytihing is okey until this. After that when I try to close connection with mirror, video doesn't close. Although I restart to maigc mirror, youtube screen doesn't close.

How can I fix this bug. Please help me

[2020-02-21 21:20] govindmaheshwari2 opened #57 "Error in npm install"
=== npm audit security report ===

┌──────────────────────────────────────────────────────────────────────────────┐
│                                Manual Review                                 │
│            Some vulnerabilities require your attention to resolve            │
│                                                                              │
│         Visit https://go.npm.me/audit-g

[2020-03-02 22:20] robertalexa commented on #55
same here @kevinatown any fixes on this?

[2020-03-03 01:15] kevinatown commented on #57
Hey @govindmaheshwari2 so this doesnt look like an issue. It's mostly a waring from NPM saying that some of the packages should prob be update-- which I should do and will try to get to here. Was there any other issue or just this?

[2020-03-03 01:17] kevinatown commented on #55
Hey @Bernard-h and @robertalexa! So generally this error is due to a config issue with MMM-Screencast within the MM. It is most likely an issue with using MM's positions instead of MMM-Screencast's `['bottomRight', 'bottomCenter', 'bottomLeft', 'center', 'topRight', 'topCenter', 'topLeft']`.

If y'all can attach (with all API keys removed) your config.js to this issue I can take a look and see if

[2020-03-03 01:21] kevinatown commented on #56
Huh, @Mert4531 this is an odd one.
- Do you have any more info/logs?
- Can you reconnect to the Cast after "Closing" and close again?

If you can get some logs of this happening so that I might get a better idea of what is happening, you can do that like:
[code]

Connect, recreate the issue, then attaching the log.log here. Thanks!

[2020-03-03 01:26] kevinatown commented on #54
Oh man, thanks for this. I think that this may have an issue with chromium and bluetooth ASLA this looks like it might work (or someone got it working): https://github.com/Arkq/bluez-alsa/issues/88 but it's def an issue with chromium and bluetooth, I need to get and configure one for myself so that I will have a better understanding on what's going on.

I hope this helps. Also let me know if this

[2020-03-03 01:26] kevinatown commented on #54
Also @sudomax is the sound the only issue that you noticed?

[2020-03-03 21:14] robertalexa commented on #55
Hi Kevin

You are right. I did not notice the positions are not the default MM positions. Doh. guess being tired is not good.

[2020-03-03 21:59] robertalexa opened #58 "Something went wrong"
Hi @kevinatown

Thank you for pointing out the obvious earlier about the config position. I feel embarassed.

I am however encountering an issue and I am not sure how much useful information i can provide.

I can "successfully" cast to the device (although some times the device name appears more than once, guess the server remains open), the youtube popup shows, then it says Account name successfu

[2020-03-03 22:09] robertalexa commented on #58
Further play with it.

Rebooted the pi completely.

Tried the same video. Same error.

Chose another video. Started playing fine.

Went back to the original video. Plays fine.

This sounds more like a google problem than a module problem, but i feel maybe it is worth asking for your opinion.

Thank you in advance

[2020-03-04 23:05] robertalexa commented on #58
And some more information, might help other people.

All of the above testing was done on a Raspberry Pi 3B+ which, in all respects, turns very slow when you give it a lot to do.

Today I have swapped all my setup into a RPI 4B 4GB and..... surprise surprise. No video ever failed to cast so far.

That being said, i am still playing with it to see if i can have the same issues occur, but i really s

[2020-03-06 05:32] guschavez opened #59 "ScreenCast blocks all other modules"
So I am loving ScreenCast but the one major issue I have is whenever I add it to my MM it works fine but I can no longer see any other module the screen is all black until I play a video then I can see just the video and no other module. It is set bottom center and is small enough that it should not be blocking other modules at all. Any idea where I can start looking into to this? I am pasting my

[2020-03-07 17:59] kevinatown commented on #59
Hey @guschavez! So the issue here is that you are overwriting your config object with an object that only has the MMM-Screencast module. Notice the other `var config = ` (this is where you overwrite it). What you should do is just add the MMM-Screencast config to the object after the weatherforecast module config.

You can try this config instead:
[code]

Let me know if you have any issues!

[2020-03-10 16:13] andyb2000 opened #60 "Screencast isn't detected by catt/pychromecast"
Trying to CAST using catt/pychromecast from a linux machine and MMM-Screencast doesn't seem to be detected as a chromecast by them.

Suspect this is the pychromecast library not 'finding' the Dial/listener.

Any debug I can provide?
catt scan
Scanning Chromecasts...
Error: No devices found.

If I use youtube on my android phone, I can 'cast' to MMM-Screencast so it's working and listening it appea

[2020-03-12 10:06] Bernard-h commented on #55
I just reloaded this and changed my position to center.. it works fine. Really weird , im 1000% sure i tested different position and sizes. Anyway this works. Closing issue , since Kevin has his fixed as well.

[2020-03-12 10:06] #55 closed

[2020-03-12 10:08] Bernard-h opened #61 "Casting different formats QUESTION"
Would it be difficult to get this working on Netflix / Ziggo / HBO / Disney ?

[2020-03-15 17:53] andyb2000 commented on #54
Hi,
I'm currently having similar problems and think I've identified the issue:
Using bluetooth and Alsa, only one playback window can 'grab' the audio output device at any one time (Limitation of bluez-alsa).
When MMM-Screencast receives a request it spawns a new electron/Chrome window:
`[17:42:20.281] [LOG]    screencast stdout:

`
And so the second browser window cannot grab the audio device.
`[

[2020-04-02 12:30] derartlars opened #62 "Screencast not Starting up. (Error Log in post)"
Hi MMM-Screencast was correctly installed but is not starting.

When I insert: display=:0 npm start >> log.log I get the following message:

(electron:1097): Gtk-WARNING **: 14:17:33.868: cannot open display:
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! magicmirror-screencast@0.0.5 start: `electron app.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirror-screencast@0.0.5 st

[2020-04-03 15:06] sudomax commented on #54
Interesting, thanks for your answer @andyb2000.
I'm not using Bluetooth anymore, it was just a test while I was waiting for my usb speakers. Now that they're in, how should my .asoundrc file should look like?

[2020-04-05 21:54] Genemills opened #63 "Npm install error"
npm ERR! code Z_DATA_ERROR
npm ERR! errno -3
npm ERR! zlib: invalid distance too far back

[2020-04-18 18:57] RomanOnARiver opened #64 "Please consider a close on timeout option"
After a set period or time with no video playing it would be nice for the video player to close. I'm running into an issue where the phone does its battery saving, disconnects from casting, and can't find the smart mirror device anymore - unable to close it I have to restart magic mirror completely.

Short of rooting the phone to disable optimization for YouTube (because it's a system app) I think

[2020-04-19 07:14] qashaza opened #65 ""MMM-Screencast" and "MMM-AlexaControl" are incompatible."
It seems "MMM-Screencast" and "MMM-AlexaControl" are incompatible. When I activate both modules at the same time, "raspberrypi" is no longer visible for "send to" on youtube.
I comment the module "MMM-AlexaControl" and "raspberrypi" reappears again in "send to" on youtube

[2020-05-05 00:29] IngveBoe commented on #43
how did you fix it? i have the same problem [Screenshot link imgur](https://imgur.com/o4azY3f)

[2020-05-10 11:03] Genemills commented on #63
Solved by uninstalling Synology app that upgraded version

[2020-05-10 11:03] #63 closed

[2020-05-14 19:19] Vamesa opened #66 "Detects the cell phone but it does not work"
Hello, I have installed the module and put the config, but when I want to put YouTube from my cell phone it doesn't work.  Detect Youtube, in fact the logo appears in the Magic Mirror but the video does not run or sound, nor does it stay in line on my cell phone.  The network I use is the same both on the cell phone and on the raspberry.  Do you know why this error can occur?

[2020-05-26 11:22] steventhi opened #68 "Can not start Screencast"
Hello,
sorry for my bad englisch, here is the config, what do I wrong that the Screencast dont work?

[code]
[code]

Thank you very much

[2020-05-29 03:50] shotbyapony opened #69 "this project seems to be forgotten about"
can someone take over development?

[2020-05-29 13:07] kevinatown commented on #59
Closesing as no response, but feel free to reopen this issue if this problem persists or open another issue if something arises.

[2020-05-29 13:07] #59 closed

[2020-05-29 13:13] kevinatown commented on #60
Hey @andyb2000! Sorry for the late reply, I've been slammed with work and avoiding everything else.

So I haven't looked into catt/pychromcast and am not sure what protocol they use, etc. If i get time I'll try to look into why its not showing up.

So you have an example of the command or script youre running with catt? It would be a helpful start as i've not looked into catt at all :(

[2020-05-29 13:15] kevinatown commented on #61
So sadly it's not trivial. I've spent sometime looking into netflix but have yet to have gotten it to work and then work, life, other projects come up and i loose track of where I was. I'll try to find time to open this up again.

Also I'm going to close this ticket as it's a duplicate of #27

[2020-05-29 13:15] #61 closed

[2020-05-29 13:19] kevinatown commented on #62
Hi @derartlars! Sorry for the late reply, I've been slammed with work and avoiding everything else.

So it looks as if you're running `npm start` from the `MMM-Screencast` directory? Is this true? If so can you run the same command from the Magic Mirror root directory and send the log here?

[2020-05-29 13:21] kevinatown commented on #64
Hey @RomanOnARiver! Sorry for the late reply, I've been swamped with work and let a lot of other things go by the wayside :(.

I love this idea and will try to get to implementing this feature.

[2020-05-29 13:25] kevinatown commented on #65
Hey @qashaza!

Huh odd, do you happen to know if/what ports `MMM-AlexaControl` is running on? I haven't looked into this module, but if it is running on port 8569 this could be the issue (granted I'm reaching at straws without looking into anything 😄). Maybe you can try to change this port in the MMM-Screencast config?

Could you potentially send me a log of you starting up you MM with both module

[2020-05-29 13:42] kevinatown commented on #66
Hi @Vamesa!

So I am a little confused, to clarify your phone sees your raspberry pi? You can connect and "cast" the video? Does a screencast screen show up? The youtube video icon shows on the MM?

After all of this it doesn't play?

Can you also send me a log of the MM? You can do that by running the following:
[code]
- then trying to cast to your MM.
- stop the cast
- paste the contents (or the

[2020-05-29 13:57] kevinatown commented on #68
Hey @steventhi So there seems to be a few potential issues going on here...

In the first log there seems to be an issue reported in #65 where `MMM-AlexaControl` and `MMM-Screencast` have an issue in compatibility. My initial guess was that they are using similar ports, but im not sure I would have to investigate what MMM-AlexaControl is doing to see if theres something else going on.. Also it see

[2020-05-29 15:45] kevinatown commented on #69
Hey @shotbyapony! This project isn't forgotten about, but as a free and open source project it isn't my number one priority and comes behind life, work, and other projects at times.

I could always use some help by:
- answering issues
- keeping track of feature requests
- mapping out development
- developing some code

Feel free to help - and thanks for your interest in this project!

[2020-05-29 15:45] #69 closed

[2020-05-30 22:58] hriday-khurana commented on #57
i am also having similar issue and there are 12 dependecies warning showing up when i perform npm install and 5 out of 12 are showing High. and castname also not showing up on my phone to cast it. I am not sure what's wrong

[2020-05-31 04:49] shotbyapony opened #70 "Pi not showing up in youtube app"
[code]

fresh install, before it would show up but say X wasn't defined so I deleted the screencast folder and redownloaded/installed it. Any help? TIA

[2020-05-31 05:00] kevinatown commented on #70
Hey @shotbyapony! Sorry bout the issue, so what do you mean by `say X wasn't defined`?

Also can you please do the following:
- send me a complete copy of your config (with all api keys removed)
- what are you running this on? (raspberry version? linux distro? etc? (whatever hardware info you can give))
- run the MagicMirror with a logging and send it to me. run (in the MM root dir):
[code]
and pl

[2020-05-31 14:11] drk-geek opened #71 "Changing the position"
I would like to change the position from "bottomRight" to center of mirror, please advise syntax to use
Thanks

[2020-05-31 15:53] kevinatown commented on #71
Hey @drk-geek, please see the following excerpt from the [readme](https://github.com/kevinatown/MMM-Screencast/blob/master/README.md):

| Option    | Description
|---------- |-----------
| `position`| *Required* The position of the screencast window. <br>**Options:** `['bottomRight', 'bottomCenter', 'bottomLeft', 'center',  'topRight', 'topCenter', 'topLeft']` <br>**Type:** `string` <br>**Note:**

[2020-05-31 15:53] #71 closed

[2020-05-31 15:59] kevinatown commented on #57
@hriday-khurana normally the dependency warnings will be something to worry about, however since this runs within your own internal network and they are `express` issues through `peer-dial` I'd not fret them. I'll try and find time to work with creators of `peer-dial` to update these.

For you issues on the cast name not showing up on your phone, can you please open a new issue with a log of the M

[2020-05-31 15:59] kevinatown commented on #57
Closing as this issue is known.

[2020-05-31 15:59] #57 closed

[2020-05-31 16:05] kevinatown commented on #43
Closing this issues as the original issue was solved.

@IngveBoe this is a config issue, you most likely used the positioning args for MM and not MMM-Screencast. You can double check this on the [readme](https://github.com/kevinatown/MMM-Screencast/blob/master/README.md)

Also if you are still having issues, can you please open a new issue with a copy of your config (with  all api keys removed/red

[2020-05-31 23:59] shotbyapony commented on #70
[Error](http://imgur.com/a/yYmPh06)
this happens when i attempt to cast (it only showed up once, it no longer shows up.)

[log](https://pastebin.com/90ZaEArU)

[config](https://pastebin.com/AZpw9hBE)

[2020-06-01 07:25] drk-geek opened #72 "electron take 50% of cpu on RPI 3 B"
Screencast is a good and useful module for MMM but electron process took more then 50% of CPU while running thus  causing issues with RPI

I am using RPI 3 Model B with a 16GB micro SD card,
any suggestions or fix?

[2020-06-04 21:22] i2023u opened #73 "rotate"
It's working great but how to rotate Screencast ? I have setup MMM as a portrait mirror.

[2020-06-08 00:58] kevinatown commented on #70
So the issue here is that in your config for MMM-Screencast you are using snake case for the position, according to the docs on the (README)[https://github.com/kevinatown/MMM-Screencast/blob/master/README.md] you should use camel case, i.e `bottomRight` instead of `bottom_right`. This should fit the issues of the MMM-Screencast not showing up.

I'm going to close this issue, but feel free to reope

[2020-06-08 00:58] #70 closed

[2020-06-08 01:03] kevinatown commented on #72
Hey @drk-geek! So MMM-Screencast should only spin up a very simple electron window when you are connected to it.

However, MagicMirror also uses electron to display the MM, so it could be this process that you are seeing.

- Do you happen to have a lot of modules loaded with MM?
- Are you checking the CPU percentage when you're playing a video?
- If so do you see 2 electron processes there?
- Are

[2020-06-08 01:18] kevinatown commented on #73
Hey @i2023u! Glad to hear it's working great. So I am a little confused by the question here, electron _should_ detect which way to set up the screen so that it isn't sideways (I am assuming that this happens for the entire MM, no?). Is it that the height and width are off? A picture with how it's actually being rendered and one with how you want it would be very helpful here. Thanks!!

[2020-06-08 18:53] drk-geek commented on #72
Hi @kevinatown below is the reply to your questions

- Not lot of modules, actually a few with screencast

- Yes when playing video it goes up to 70%

- Yes I see more then one electron process, rather more then 2

- Yes, running home assistant

hope to answer all the questions

[2020-06-18 11:23] uok825 opened #74 "Failed."
[code]

[2020-06-18 12:02] aryanarora2000 opened #75 "Screen Mirrored successfully but without sound"
Hi there, I am a student and was just mingling around with a raspberry pi when I decided to create a magic mirror. I followed all the steps and was able to cast via youtube the only problem is that there is no output of sound. I am using an old LCD TV and only when I try to cast I am not able to get an audio output. Kindly help me out

[2020-06-18 13:06] #74 closed

[2020-06-18 15:30] uok825 opened #76 "Cant reached."
When i install Screencast, i cant access my magicmirror that says "This site can't be reached."
Sorry for my bad english.

[2020-06-18 18:15] radokristof commented on #8
@kevinatown Did you thought about moving to mDNS?
All of the current Google devices (Google Home, Google Chromecast) uses mDNS instead of DIAL (and almost every IoT device use this). I don't know if it is possible to implement this but it would be great, mainly because I did not find a great way to route DIAL (SSDP and UPnP) between networks. This is needed for me cause I have a different network

[2020-06-18 23:56] tbwfdu commented on #73
I have the same issue, but hoping I can explain better.

Using a RPi2 B+ via HDMI and the only way I can get MM to run in portrait was by adding the the custom.css to rotate the screen. Doing it via /boot/config.txt wouldn't work.

So essentially as far as this module is concerned, its running in lanscape mode (or "normal") but the CSS of MM is actually rotating the app. When I cast to it, its act

[2020-06-20 12:02] #76 closed

[2020-06-23 13:12] khullarmudit opened #77 "cast window position"
Hi

Not sure if this is even a possibility, but is there a way in the config where I can specify the actual window location for the casted content. Right now I'm using the default config for the case, and though it works perfectly, because it will stay on top, it tends to cover up my newsfeed (bottom_bar). Unfortunately due to the size of the screen I'm using, lowering the pixel count for the disp

[2020-06-27 05:56] fallenbuddhist commented on #66
I have the same issue - phone (using youtube) detects the MM as something to cast to, I select the MM to cast to it, youtube tries real hard, but no movement on the MM at all - then the source disappears and I have to reboot MM in order to try again. Couldn't get the log since I have to reboot.

[2020-06-27 17:56] Dmitchell94 commented on #75
I am also unable to get sound while other modules can still play sound

[2020-06-27 18:02] Dmitchell94 commented on #75
While this is also affecting me this issue appears to be a duplicate of #54

[2020-06-27 18:03] Dmitchell94 commented on #54
I am using USB speakers and still appear to be getting no sound

[2020-06-29 15:37] sudomax commented on #54
Sorry for the delay, was busy building the [mirror itself](https://imgur.com/a/jfqCFW8).
I used bluetooth for testing purpose, my final project will use speakers over the headphone jack. I'll reconfigure that soon and post result here.

[2020-07-06 10:20] sudomax opened #78 "Wake up screen when starting a video"
Hi @kevinatown,

I installed PIR sensor on my mirror not to have it on constantly. I'd like the screen to wake up and stay on while you're module is playing a video. Would you have any suggestion on how to accomplish that?

[2020-07-10 00:06] wirdman03 opened #80 "don't find the module"
hello I cannot run mmm screencast he s crashing down my magic mirror

see in the terminal

 code: 'MODULE_NOT_FOUND',
  requireStack: [
    '/home/pi/MagicMirror/modules/MMM-Screencast/DialServer.js',
    '/home/pi/MagicMirror/modules/MMM-Screencast/node_helper.js',
    '/home/pi/MagicMirror/js/app.js',
    '/home/pi/MagicMirror/js/electron.js',
    '/home/pi/MagicMirror/node_modules/electron/dist

[2020-07-10 01:19] wirdman03 commented on #80
it working now without error but I cannot find it in wireless

[2020-07-10 01:28] wirdman03 commented on #80
i do not understand my mirror working but nothing about mmm screencast

ompliments",
                        position: "lower_third"
                },
                {
		module: 'MMM-Screencast',
		position: 'bottom_left', // This position is for a hidden <div /> and not the screencast window
		config: {
			position: 'bottomRight',
			height: 300,
			width: 500,
                        }

[2020-07-12 02:20] derkaramma commented on #54
I'm working on setting my mirror up and I also don't have Audi through headphone jack. thank you guys for any help

[2020-07-29 01:43] vicarcmirror opened #81 "Port error: 1900 MMM-AlexaControl with MMM-Screencast."
Hello, I hope you can guide me with the following problem. I am using the MMM-AlexaControl module together with your MMM-Screencast module.
It turns out that when I want to run the 2 modules it sends me the following error

[2020-07-28 18: 50: 38.635] [ERROR] Error: EADDRINUSE link 0.0.0.0:1900
      at dgram.js: 321: 18
      in processTicksAndRejections (internal / process / task_queues.js: 84:

[2020-08-08 07:23] fribse commented on #56
I'm seeing this as well, the connection takes very long to establish, sometimes gives up on the phone, while showing youtube on the monitor.
Then it stops showing up on the list on the phone, while still showing on the monitor.
After a stream, if I disconnect, it will often still show the window on the mirror as well.

The logfile produced:
`cat log.log

[2020-08-08 09:18:36.491] [LOG]    Starting

[2020-08-09 18:45] uok825 opened #82 "Electron Error"
[code]

[2020-08-14 22:27] R-Studio opened #83 "Installation Failure "EACCES: permission denied""
Hi first thanks for your mm module!

I want to install your mm module but the following error occurs. I run `sudo npm install` inside the "MMM-Screencast" directory.
[code]

In the npm debug logs are following errors:
[code]

Do you have any idea whats wrong?
Thanks for any help.

[2020-08-20 16:17] mollyschilling opened #84 "Could not find module 'peer-dial'"
I installed everything, but when i go to start up my mirror, none of the modules show up. I went back to review the code and it says that it cannot fine a module called peer-dial. Could anyone help me troubleshoot? Also does screen casting work with apple?

My code when trying to run:

[2020-08-20 10:24:30.782] [LOG]    Module helper loaded: MMM-AlexaControl
[2020-08-20 10:24:30.794] [ERROR]  WARN

[2020-08-24 09:08] R-Studio commented on #83
My mistake: **I have to run the npm install as root user.** So running with "sudo" is not enough.

[2020-08-24 09:08] #83 closed

[2020-08-26 15:51] kevinatown commented on #84
Hi @mollyschilling!

Sorry to hear that you are having issues. I have a few questions to better help diagnose your issue:
1. Did you install MMM-Screencast's dependencies? The directions should be on the readme, but pretty much you `cd` into `MMM-Screencast`'s dir and run `npm install` there. (This is honestly what I think is wrong)
2. Can you attach to this issue a copy of your config.js (with al

[2020-08-26 15:52] kevinatown commented on #82
Hi @uok825 what version of node are you using? Also you can try to bump up the electron version to see if it helps (I will try and do this in the module soon).

[2020-08-26 15:55] uok825 commented on #82
I use pi zero and i dont know node version right now

On Wed, Aug 26, 2020, 18:53 Kevin Townsend <notifications@github.com> wrote:

[2020-08-26 16:11] kevinatown commented on #81
Hi @vicarcmirror,

Sorry about the issues you are having. MMM-Screencast uses port `8569` by default, but there is an optional config that you can use to change the port (use the `port` config option). I would recommend looking into `MMM-AlexaControl` and see what ports they use and choose another one for MMM-Screencast.

Also looking quickly through `MMM-AlexaControl`'s code and readme, it seems

[2020-08-26 16:17] kevinatown commented on #80
Hi @wirdman03.

Sorry about the issues you are having. Can you please answer these questions to help me better find your solution:
1. What module/OS are you running your MagicMirror on?
2. Did you `cd` into MMM-Screencast's directory and install all of it's dependencies?
3. Can you attach the full config.js (with API keys removed)?
4. Can you attach a log of the Magic mirror starting up, running f

[2020-08-26 16:25] kevinatown commented on #78
Hi @sudomax!

Interesting issue here. So the question what are you using to control the PR sensor and turn off the mirror? Is it connected any way with a module to the Mirror (listening to other Modules' or mirror's events)?

If it is connected to the mirror somehow, There is some code (not quite finalized) that will emit mirror events so that other modules can interact with MMM-Screencast. If not

[2020-08-26 16:31] kevinatown commented on #77
Hi @khullarmudit, so I thought I had actually did this a while back, but it seems as if I dropped this and forgot working on it. I will try and get back to it.

[2020-08-26 16:34] kevinatown commented on #75
@aryanarora2000 this does seem to be potentially and duplicate of #54. Can you please also provide some more information about how you are connecting to the old LCD TV and what device/version/os you are using? My guess is there is prob some missing config needed.

Also I am going to close this issue, but please do continue in #54

[2020-08-26 16:34] #75 closed

[2020-08-26 16:56] kevinatown commented on #73
Ahh ok, @tbwfdu thanks for the clarification. Originally I was thinking could rotate similar to how MM does it: https://github.com/MichMich/MagicMirror/wiki/configuring-the-raspberry-pi , however that didnt work for you. Might look into adding another config for rotating the screen and just injecting CSS. Let me think on this a bit.

[2020-08-26 17:01] kevinatown commented on #72
Hi @drk-geek, I dont think there is much I can do besides attempting to update electron in MMM-Screencast. Sadly, electron (chromium) especially playing videos is very expensive. MMM-Screencast runs another electron process to display the video that isn't part of the original electron one, so this: "Yes I see more then one electron process, rather more then 2" confuses me a bit.

Do you see anothe

[2020-08-26 17:22] kevinatown commented on #54
Hi y'all, sorry I haven't had much time to look into audio issues, but can y'all start with just checking the audio settings on the [pi](https://www.raspberrypi.org/documentation/configuration/audio-config.md?__cf_chl_captcha_tk__=969e229c5fbc1ddfc2a53973d8ca0d1622969a6d-1598462361-0-ASvV0DV9HtuXAlZSskJYcbI2D-tZQJzNiyuiuLVSqk7a7XM5MaK0NHim3mkdNidD58Al1a7OnfwUyWBFLJZcQIHV4H3NgXcS1_jRlMjDEuBhxytGBPQ

[2020-08-31 13:55] cluelesscarter commented on #84
Hey @kevinatown,

I recently tried to install and received the following errors; I tried running `npm audit fix` but it didn't work, is this related to this issue or do I need to open a new one? I can't see the pi on my devices list....

[code]

[2020-08-31 15:28] cluelesscarter opened #85 "JavaScript Error Occurred in the main process"
Hey - had a little trouble getting this to show up in the casting list, but after a reboot it did. Now I'm recieving this issue:

![image](https://user-images.githubusercontent.com/26582942/91737455-04c05200-eba7-11ea-86d8-f182266b0713.png)

**Module Config:**
[code]

[2020-08-31 19:03] kevinatown commented on #85
Hi @cluelesscarter,

So the issue is that you are using `position: 'middle'` instead of `position: 'center'` for the position of the MMM-Screencast window. Please use `center` and refer to the [config in the readme](https://github.com/kevinatown/MMM-Screencast/blob/master/README.md#configuration-options-for-mmm-screencast).

I should really update this to take either config options 🤦

Good luck!

[2020-08-31 19:03] #85 closed

[2020-09-03 15:54] mihanich opened #86 "[Question] Is there any possibility to point sound on exact sink ?"
Hi @kevinatown .
First of all - THANK YOU! - for all work you've done!

I got asus tinker board s and set up MMM, Google Assistant and configure asound as well to point all sound to D2 sink. and all (even system notifications) pointed to 3.5 (which D2) (as well it is set as default everywhere). Except Screencast instance. Pulseaudio server is up and running right, in pavucontrol there is no screen

[2020-09-14 11:23] Murtaza027 commented on #65
I think i have a solution for this,go to  Config.js and put Mmm-Screencast configuration At top of modules Section and put the Mmm-Alexacontrol configuration at the bottom, (No Need to change port,This method works for me)

[2020-09-15 15:25] mawoka-myblock commented on #77
@kevinatown please do it. I have the same issue but it is a very good Module, but please go on working on this module!

[2020-09-20 02:31] masoudl commented on #64
This is a great idea. Do you think it is something that may be added in an upcoming release?

[2020-09-27 15:48] DiDavid commented on #84
Hi @kevinatown,
I have the same problem, but I can't do "npm install", then i got this error:

npm WARN registry Unexpected warning for https://registry.npmjs.org/: Miscellaneous Warning ENODATA: Cache input stream was empty
npm WARN registry Using stale data from https://registry.npmjs.org/ due to a request error during revalidation.
npm WARN deprecated request@2.88.2: request has been deprecated

[2020-10-02 23:47] Wendnmanegde opened #87 "Black screen"
I Added the configuration to the modules array in the config/config.js file. when im launching the MM program it gives me a all black screen but im able to cast videos. It making all my other module disappear.

[2020-10-16 17:25] cluelesscarter opened #88 "Use notifications to close?"
Hey,

I'm using a gesture sensor and I use it to issue notifications to MM os for things like "PAGE_INCREASE" for mm-pages or "ASSISTANT_CLEAR" for mm-GoogleAssistant...

Would it be possible to get a notification to cancel the cast?

[2020-10-28 04:18] parlier7 opened #89 "Config issue"
Hey. After the install I can not get the config part to work. I followed your instructions and evan watched a few videos. After I try to copy the Config screen the magic mirror quits working. If you could walk me through this as I just started using a raspberry pi.
Thank you this would be an awesome feature to add im building this for my girlfriend as a Christmas gift.

[2020-11-14 00:19] kevinatown commented on #86
Heyo! Thanks @mihanich. Sorry about the late response, a lot has been going on lately :(

 So short answer is yes, there is a way to configure where to point the sound, however it's not really tied to MMM-Screencast, but to the chromium instance being used by electron. So some questions are:
- what OS are you using on your tinker board?
- how did you go about setting the sound for Google Assistant

[2020-11-14 00:21] kevinatown commented on #87
Hi @Wendnmanegde, so I am assuming this is a problem with your config. Can you post your config in here (with all API keys removed)? This will help with diagnosing the problem.

Also I have to ask, did you install all of MMM-Screencast's dependencies?

[2020-11-14 00:24] kevinatown commented on #88
Hey! @cluelesscarter yes this was requested in #31 but I haven't had time to finish the notifications (I'm currently like 80% there but haven't had the time to work on it since the spring. I'll see if I get some time to get back to it.

Also closing this as it's a dup.

[2020-11-14 00:24] #88 closed

[2020-11-14 00:26] kevinatown commented on #89
Hey @parlier7! So your config is potentially off. If you paste the config in here (with all api keys removed), i might be able to help you.

Also have to ask, did you `cd` into the module directory and install all of the dependencies?

[2020-11-15 07:05] prof-toro opened #90 "Cast does not show up on phone. Nothing displayed in Magic Mirror"
I can't seem to get MMM-Screencast to work. I've installed, deleted and re-installed several times and nothing seems to work. I've even removed all other modules and still can't seem to get it to work. I've tried using different devices to cast but no casting option shows up on any.

For your reference I've added a log file but I don't see anything telling in it.
[log.log](https://github.com/kevin

[2020-11-15 07:15] prof-toro commented on #90
To expedite things I've attached the config file with all the other modules removed.
[config.txt](https://github.com/kevinatown/MMM-Screencast/files/5541947/config.txt)

[2020-11-15 19:34] jgreen84 commented on #90
I have been struggling with the same problem and my config is pretty much the same as yours.

It just occurred to me to try casting from YouTube in Chrome on my Mac and that works perfectly. So you may want to see if you have the same issue in which it's just the YouTube app (potentially just iOS) that isn't showing the MM as a castable device. Hopefully that helps narrow down the problem as well.

[2020-11-15 21:54] #31 closed

[2020-11-15 21:55] kevinatown commented on #31
@moryoav closing this issue as the feature should be done now. Please pull and reinstall dependencies to get the feature.

[2020-11-15 22:03] kevinatown commented on #90
@prof-toro your log was really helpful. It seems you might be missing some code from MMM-Screencast: `No helper found for module: MMM-Screencast`. MMM-Screencast does contain a node_helper.js so it should be loaded.

 Please delete the folder and reclone or try pulling. Then please reinstall and MMM-Screencast dependencies.

[2020-11-15 22:04] kevinatown commented on #90
@jgreen84 your issue might be different. I have had no issues casting from my iPhone's youtube app. Can you provide anymore info on your issue? Also, got to ask are you connected to the same wifi?

[2020-11-15 22:21] jgreen84 commented on #90
@kevinatown ah ok yes it does sound different for sure. I actually get two devices in my case list from Chrome on my iMac. I believe that is because I'm currently connected via ethernet as well as Wi-Fi. The final installation won't have Ethernet. I suppose I could try unhooking the Ethernet to see if that makes a difference on the phone.

[2020-11-16 14:51] Nafets35 opened #92 "Javascript Error"
Hello, I am new to MagicMirror and just started with this module. However when i try to cast youtube from my phone i get this error:
![Mirror Error](https://user-images.githubusercontent.com/73309536/99266888-3ec3fa80-285e-11eb-9f7a-9306d8a8f68c.png)

Help would be greatly appreciated

[2020-11-16 15:13] #92 closed

[2020-11-16 18:11] #77 closed

[2020-11-16 18:13] kevinatown commented on #90
@jgreen84 the ethernet does sound like a potential issue. Please give that a go and let me know!

[2020-11-17 05:48] prof-toro commented on #90
@kevinatown I'm not sure what the issue is. I checked the MMM-Screencast and there is a helper_node.js present and I've tried all your solutions but still I get the same error.

[2020-11-17 07:26] prof-toro commented on #90
@kevinatown after trying one last time it started working. I was literally about to cut my losses and give up. What I did was copy the Screencast folder to the modules folder and as an added precaution copied the node_helper.js file to the MagicMirror folder. Not sure if that was what solved the problem or if it was just coincidence but seeing as I've been trying to solve this for days I don't wan

[2020-11-17 19:45] jgreen84 commented on #90
@kevinatown i disconnected the Ethernet and now I just have the one cast option from my iMac. Sadly I'm still not seeing it as an option in YouTube app on the iPhone.

[2020-11-29 15:04] bimbim2401 commented on #81
go the node_module of alexacontrol and change the port on line 141 on SSDPServices.js file

it works for me

[2020-11-29 18:58] r4zi3lrrr opened #94 "Can't seem to Center Module"
Hey Guys,

Module seems to work really good, but can't for the life of me get it centered so it launches in a small window.

It seems to launch in full screen.

My config is below, if someone can please help.

},
	{

		module: 'MMM-Screencast',
		position: 'bottom_right', // This position is for a hidden <div /> and not the screencast window
		config: {
			position: 'center',
			height: 300,
			wi

[2020-12-09 23:54] BoujeeBoba commented on #73
@tbwfdu Did you edit the main.css file or rotate Screencast from a custom.css file? I'm still attempting to rotate Screencast but haven't been successful so far.

[2020-12-19 20:24] BeingParzival opened #95 "Login Issue and Castname"
I am running Magic Mirror on a RasPi 4 n for some reason Screencast was not working for me for a while, i had to give a few tries reinstalling and editing things till it worked but now the issues I'm facing are the in the config file I have changed the casting name to SmartMirror but in my YouTube app it still shows raspberrypi, second issue is that my account never stays logged in, if I start cas

[2020-12-21 10:03] avanloo01 opened #96 "Fix vulnerabilities"
I've got 12 vulnerabilities upon installing the module, but I don't know how to fix them. Can anyone help?

[2020-12-22 04:21] kevinatown commented on #96
Hey @avanloo01! I am assuming you're running this just on you home network, correct? If so you _probably_ don't need to worry about the vulnerabilities. However, if you still don't like the fact that there are there you can run (in the MMM-Screencast dir) `npm audit fix` -- this may, however break MMM-Screencast, cause I haven't looked into the needed updates yet. I'll see about doing that for thi

[2020-12-22 04:21] #96 closed

[2020-12-22 04:39] kevinatown commented on #95
Hi @BeingParzival! Sorry to hear that you are having some issues. So I understand there are 2 issues:
1. the cast name is not changing
2. The screencast window's Youtube is logging you out

For issue 1, I might need some more info, but first:
- Did you restart MM after changing the name in the config? If not try that real quick
- If you did, it might be a config issue. Can you paste your config he

[2020-12-22 04:52] kevinatown commented on #94
Hey @r4zi3lrrr! Sorry to hear you are having issues completely centering it. You can try to update MMM-Screencast and use the `x` (Window's left offset from screen.) and `y` (Window's top offset from screen.) config properties to get it exactly where you want it. It might take sometime playing around with it until you get a good position.

Also, another idea might to be to use a rectangle thats ma

[2020-12-22 08:05] r4zi3lrrr commented on #94
Thank you - will give it a go.

[2021-01-06 21:11] Docker-J opened #97 "Korean character(maybe other unicode character as well) does not appear properly"
When I cast Youtube or Youtube music, Korean titles or subs appear as a square :(
Encoding problem?

By the way thanks for providing great module! 👍

[2021-01-07 19:09] #97 closed

[2021-01-07 20:25] PKali20 opened #98 "Could not validate config file"
When i go to open MagicMirror this error pops up!

WARNING! Could not validate config file. Starting with default configuration. Please correct syntax errors at or above this line: /home/pi/MagicMirror/config/config.js:107
		var config = {
		^^^
SyntaxError: Unexpected token 'var'
    at Module._compile (internal/modules/cjs/loader.js:896:18)
    at Object.Module._extensions..js (internal/modules/

[2021-01-10 11:55] dhmy1717 opened #99 "The Magic Mirror does not show on my YouTube"
hello there,

the MagicMirro does not show up on my YouTube to cast it !!

config and insall been done but stii does not show up !!

what may i do  to solve it ?

appreciated ,

[2021-01-14 21:48] matze6486 opened #100 "Only Audio an Raspberry pi, No video on mirror"
Hey!

I've got a problem with the screencast module.

Configuartions:
Internet via HotSpot from Iphone 8:  PI & Iphone 11 (streaming device)
Bluetooth Iphone (11) <--> Pi,

First: On MM I only can see my background-wallpaper.
When I start Youtube on the IPhone 11 and want to cast a video via "AirPlay & bluetooth" devices, it shows the PI and if I select the Pi it only plays the audio on the PI, bu

[2021-01-19 01:00] NicolasJorquera opened #101 "MMM-Screencast and MMM-MotionDetector are incompatible"
I have the MMM-MotionDetector which works just fine until i play a video with the MMM-Screencast module, when the screen turns off again after i play a video on youtube, it doesnt turn on again.
Someone had the same problem?
Sorry for my english.

[2021-01-19 02:54] NicolasJorquera commented on #101
it's like the camera will stop checking.

[2021-01-19 23:34] treyg opened #102 "Video connects and plays, but I can't disconnect"
If a video is playing, if I lock my phone or switch apps, I have no way of reconnecting to do stop the video and am forced to restart the mirror.

Any ideas?

I'm on a raspberry pi 4.

Thanks!

[2021-01-20 05:09] pprayoga commented on #102
Hi, is it possible that you are using remote desktop to open the Magic Mirror? Because I got the same problem while running the magic mirror through remote desktop for my PI.

[2021-01-20 15:55] treyg commented on #102
Hmm interesting. I thought I've tried it both ways. I'll double check though. I'm running my pi directly to a monitor, then just starting the mirror with a Bluetooth mouse app on my phone. I have done it from ssh though, so I'll check again and make sure that's not it. Thanks!

[2021-01-21 14:05] pprayoga commented on #102
I got mine working just fine and I could control the screen cast from my phone. I try run the mirror without remote desktop, try that and let me know if it's working.
![IMG_4773](https://user-images.githubusercontent.com/68753270/105361201-09f06d00-5c2c-11eb-85fc-537d9dc6d215.jpeg)

[2021-01-21 21:58] treyg commented on #102
Seems to be fine now. Thank you! I'm be sure not to remote in. I also upgraded my internet, which seemed to help.

[2021-01-21 21:58] #102 closed

[2021-01-24 14:47] smartthinks commented on #99
@dhmy1717 I just figured out the problem module can be the Mmm-AlexaControl.

[2021-01-25 08:40] pprayoga commented on #56
Hi by any chance did you run it on a remote desktop? Dont use remote desktop to cast

[2021-02-05 04:13] Demiain opened #103 "Mouse Is Always Visible"
Hello, sorry if this is a simple problem to solve, but I am pretty new to all of this. I positioned the Screencast in the center and whenever I cast something to the mirror, the mouse starts flashing in the middle of the screen. Whenever I am not casting, it is not there. Is there a way to prevent the mouse from being activated or just turn off the mouse cursor? Thank you taking the time to look a

[2021-02-14 21:37] Simone7000 commented on #81
Hi
I wanted to confirm the screencast module problem with alexa-control. And thanks to bimbim2401 I solved the problem by changing the port on line 141 on SSDPServices.js file. This file is located in the path: /home/pi/MagicMirror/modules/MMM-AlexaControl/node_modules/node-fauxmo/src.
Replacing port 1900 with 2900 solved the problem:
udpServer.bind(2900, ipaddress, function()

Thanks to vicarcmir

[2021-02-15 17:30] luisdaf commented on #73
Hello, so MMM-screencast is working flawless and super easy to install. however i have an option to rotate MM throw MMM-Fast-css wich changes the rotation throw css, the problem is that MMM-Screencast doesn´t rotate with css, any updates on this, or with some other option on config to rotate it? Thanks in advance

[2021-02-19 17:13] bezwe opened #104 "getting vulnerability issues and always asked to fix or audit."
Getting vulnerability issues and always asked to fix or audit.

[2021-02-20 14:20] confused-lynx opened #105 "Fix for (obvious) issue when using firewall (e.g. ufw)"
Dear Creator

first of all, thanks for this great module!
After installing I had some issues because of the firewall (at that time I hadn't thought about it).
It'd be great if one could add a remark in the README that it's necessary to allow connections to and from the phones IP adress.
Though it is somewhat obvious, there might be some people who don't think about it in the first moment.

For me

[2021-02-20 20:17] Emilienhrlt commented on #104
it's the same for me too

[2021-02-25 01:47] mobious25 commented on #99
If you put the AlexaControl after Screencast in the config file, it works.

[2021-03-25 22:16] vicarcmirror commented on #81
Hola Kevinatown/Mmm-Screencast.

Disculpa la tardanza con la contestación, la verdad es que no había tocado
ya el proyecto..

Resulta excelente tu aportación con esta corrección funciona perfecto .
Estoy trabajando con los siguientes módulos  y no he tenido problemas;
MMM-Remote-Control
MMM-SmartWebDisplay
MMM-Screencast
MMM-AlexaControl

Y haciendo pruebas no me aparece ningun error funciona a la

[2021-03-30 20:20] kevinatown commented on #98
Hey @PKali20, so you def have an issue with you config file. The main part you want to add/copy from the README is this:
[code]

And stick it at the end of the already defined config object:

[code]

If you are still stuck feel free to paste your config (with all API keys removed!!) in here and when i find time I'll see about formatting it for you. Best!

[2021-03-30 20:21] kevinatown commented on #99
Closing as @mobious25 seems to have figured out a workaround. Thanks!

[2021-03-30 20:21] #99 closed

[2021-03-30 20:32] kevinatown commented on #16
Hi all this has been closed by #93, where a new config can be used to set the video to the exact location... didnt relize that there were other issues still open. sorry.

[2021-03-30 20:32] #16 closed

[2021-03-30 20:35] #94 closed

[2021-03-30 20:41] kevinatown commented on #100
Hey @matze6486! Sorry to see that you are having issues. Is it possible to paste the entire log file in here? It'll make it a lot easier to determine what is happening. You can get this by running:

[code]

Allowing the MM to start up, wait for a few, and then paste the entire `log.log` in this chat.

Also have to ask, did you install all of the dependencies in MMM-Screencast?

[2021-03-30 20:47] #36 closed

[2021-03-30 20:48] kevinatown commented on #104
Yea.. this is common.

[2021-03-30 20:53] kevinatown commented on #103
@Demiain this is kinda odd. It should be set to hid the mouse. Some questions:
- can you try and update MMM-Screencasts dependencies? You can do that by (in MMM-Screencast's directory):
[code]
- What machine are you running this on?

[2021-03-30 21:22] matze6486 commented on #100
thx for reply
I deleted the module but i‘ll try tomorrow again.

[2021-03-31 16:41] the-elder-sun opened #107 "Screencast initialization issues"
Hello and thank you for building this tutorial!

I am just being introduced to the RaspberryPi world and thought this mirror was a great way to be introduced.

I have pasted the startup sequence (forgive my lack of terminology knowledge, did I mention I have never done this before?) and attached the config.js files below.

When I start the MM I get all of my modules except the Screencast.  I am no

[2021-03-31 18:17] the-elder-sun commented on #107
I understand "tutoring" is not what this is supposed to be about.

If i wanted to edit the width and height of the modules appearance, where in the config.js file is that information stored or would that need to be manipulated in the DEV environment in the MM application?  If so where?

[2021-03-31 18:55] matze6486 commented on #100
Not ist works, but its on a different sd-Card. So i have a another configuration.

[2021-03-31 18:55] #100 closed

[2021-04-01 09:27] robertalexa commented on #107
Hi,

`{
	module: 'MMM-Screencast',
	position: 'center', // This position is for a hidden <div /> and not the screencast window
	config: {
		position: 'center',
		height: 700,
		width: 900,
	}
 },`

Based on your config, height and width are the 2 parameters you need to change to change the screencast window size. You should also add a param for the name that should be displayed. Have a look at my

[2021-04-05 08:20] fribse opened #108 "Screencast not showing up after reinstall of module?"
So I got a notice that screencast had an update, and I tried to update it, but it didn't succeed.
I then removed the MMM-Screencast folder and did a
### git clone https://github.com/kevinatown/MMM-Screencast.git
And now the 'update notice' is gone, but the mirror doesn't show up in the youtube app?
The config hasn't been changed from before the module was removed and reinstalled.

[code]

[2021-04-07 19:21] dand3l10n commented on #65
Hello Guys,
this Issue was discussed in another module.
https://github.com/JoChef2/MMM-AlexaControl/issues/41
There are the log and the config uploaded as well.
I found a workaround but no solution. Would be nice, if someone finds the problem.

[2021-04-16 17:19] kevinatown commented on #108
Hi @fribse, sorry to hear about the difficulty updating. I have a few questions for you:
* after updating did you reinstall all of the `node_modules` for MMM-Screencast (pretty much do the same instructions in the [Using the Module](https://github.com/kevinatown/MMM-Screencast#using-the-module) section of the readme?
* Could you provide a log of the the module starting up? You can do it like so:
[

[2021-04-16 17:25] kevinatown commented on #105
@confused-lynx thanks for this! Def. a good idea I'll see if i can have sometime to add this to the readme, I def dont mind if people put in PRs of improvements :)

Thanks again!

[2021-04-16 17:29] kevinatown commented on #107
Hi @the-elder-sun,

@robertalexa's answer was spot on! Thanks!

I am going to close this issue as it seems to be answered. Please feel free to reopen it if it doesn't solve it.

[2021-04-16 17:29] #107 closed

[2021-04-22 12:21] Justi-png opened #109 "Screencast-module isnt disappearing again"
Hey, the Screeencast-module works beautyfully but, the screencast-module wont disappear after disconnecting my phone.
Does anyone have the same Problem or knows how to fix it?

Thanks in advance

[2021-04-22 12:38] #109 closed

[2021-05-05 14:58] tammar10 opened #110 "Screencast not showing up"
the MagicMirror starts without any problem. but it dont show up in the cast on my youtube app.

Config.js
[code]

[2021-05-23 18:03] NMachinne opened #113 "Screencast dont show on yt"
i install and i follow the manual for MMM-Screencast, when i start the raspberry with "magicmirror"  i connect the same wifi conect to raspberry and phone wifi, i go to Youtube select the icon of screen "connect to a device" and dont show the raspberry

[2021-06-08 19:39] robertalexa opened #114 "Casting not discovered across VLANs"
Hi @kevinatown

I have a bit of a weird one, and I have been trying everything that i could think off, but to no avail. I was hoping that maybe I can describe this to you and see if you have any thoughts.

My Mirror is sitting on an IoT vlan. If I go on Youtube in the broser of the host rpi, I can cast without issues. However the casting is not available in my main VLAN.

I do indeed have firewall

[2021-08-11 16:40] luisdaf commented on #73
So after almost 8 months of trying to fix this problem, several times trying to reach to @tbwfdu for help and with not a single answer i think its safe to assume that this module can not be rotated. the only person who may be able to do it its the person who programed it and its looks that he is not interested in fixing this or help giving tips to anyone who is trying to work on it, so if you you

[2021-09-15 23:38] kevinatown commented on #110
Hey! @tammar10, so you have to make sure that you have both the MagicMirror and the phone on the same wifi. Also can you send more logs by running the MM like so:

[code]

Wait for it to start up and then stick the logs in here. Thanks!

[2021-09-15 23:39] kevinatown commented on #113
What do you see? Can you send any logs or the config? thanks

[2021-09-15 23:44] kevinatown commented on #73
@luisdaf sorry that you have been having issues rotating this. Sadly this is an open source project of mine and haven't had much time; I've had a lot of other projects, work, and life going on. I'll see about looking into this issue when I free up time.

It should be fairly straight forward if the MM is rotated correctly as they both use Electron for rendering the media.

[2021-09-16 00:00] luisdaf commented on #73
Hello @kevinatown, i totally understand and i´m super thankful for your work, i was super frustrated because i spend a lot of time trying to figure this one out and i couldn't.... i will also continue to try rotating it throw css or Electron rendering but i´m quite sure i will be dependent on your help...  anyway thanks for your reply, you kinda boost my will to make this happen :) Once again than

[2021-11-18 21:57] molliesmith16 opened #118 "Cannot cast to magic mirror from iPhone"
Hi,

I am trying to set up MMM-Screencast on my raspberry pi 3 (Model B+). I have installed the module as instructed and can see the node_helper.js file. I have set up the config as follows:

[code]
I have tried a few variations of this; having this as the only module, and running with other modules. All other modules are running fine. I have also tried changing address to 0.0.0.0 and emptying ip

[2021-11-18 22:06] marcinzel opened #119 "Cast not work or work slowly"
Hi, I have problem with run cast from phone to MMM-ScreenCast. My board is RPI4. Other modules work ok. I run npm in debug mode and paste below log. Please help me repair issue.

[18.11.2021 22:20.22.794] [LOG]   screencast stdout:

[18.11.2021 22:20.24.493] [LOG]   screencast stderr: ../../sandbox/linux/seccomp-bpf-helpers/sigsys_handlers.cc:**CRASHING**:seccomp-bpf failure in syscall 0403

[18.1

[2021-11-20 14:19] pventura78 opened #120 "Screencast Electron DeprecationWarning"
I install and i follow the manual for MMM-Screencast, when i start MagicMirror receive this log message and Screencast does not work

magicmirror@2.17.1 start /home/pi/MagicMirror
DISPLAY="${DISPLAY:=:0}" ./node_modules/.bin/electron js/electron.js

[20.11.2021 13:17.14.416] [LOG]   Starting MagicMirror: v2.17.1
[20.11.2021 13:17.14.422] [LOG]   Loading config ...
[20.11.2021 13:17.14.428] [LOG]

[2022-01-18 23:09] kikosilva17 opened #121 "Not working"
Hi, im having an issue trying to cast a video in youtube to my MM. It appears my device in the youtube cast, however keeps connecting and doesnt actually do nothing... can u help?

[2022-01-31 09:47] mihanich commented on #86
Hey @kevinatown! long responces is my speciality)))
sorry about that.
I've just realize that question is not relevan due to another way of configuration which was rebuilt several monthes ago.
so how I resolve pointing of sound without of pointing:
1. on clean install with pulseaudio install all my software.
2. remove all hard-points to sinks
3. play around with timing of services (software) to sta

[2022-01-31 09:47] #86 closed

[2022-02-03 21:26] kevinatown commented on #86
Wonderful! @mihanich thank you so much for leaving how you were able to solve your issue!

[2022-02-03 21:28] kevinatown commented on #121
Hi @kikosilva17, can you please provide some more details and a log of the MagicMirror starting up, connecting to the screen-cast, waiting a bit, and then closing?

To provide a log you can simply do:

[code]

thanks!

[2022-02-03 21:28] kevinatown commented on #120
Ahh yes, sorry let me update these dependencies.

[2022-02-03 21:35] kikosilva17 commented on #121
Hey, thank you but already solved it ahaha working great... Great job and great module you got here!

[2022-02-03 21:39] kevinatown commented on #121
wonderful thanks!

[2022-02-03 21:39] #121 closed

[2022-02-03 21:39] kevinatown commented on #119
@marcinzel this is an odd one. do you have any more info or any more logs? Can you try and run it like:
[code]

can you also provide me with info on the OS you using on your RPI?

[2022-02-03 22:23] kevinatown commented on #114
@robertalexa sorry for the delay on this, but this is a good question.. The server that peer-dial uses nodes http module to connect to an address.

It seems like I can another config for you to specify the address to listen on, or better just default to the unspecified IPv4 address (which I just did). Let me know (after you pull/reinstall) if it still doesn't work.

[2022-02-03 22:26] kevinatown commented on #120
also is it possible to provide more of a log? This issue should really matter. Can you provide more info or any more logs? Can you try and run it like:
[code]
can you also provide me with info on the OS you using on your RPI?

[2022-02-03 22:29] kevinatown commented on #118
Hi @molliesmith16, sorry about the delay on this. So your log looks short. Can you provide more of the logs? Can you try and run it like:
[code]
After this wait for a bit and open up your youtube app on your phone, wait for a bit, and then you can kill the MagicMirrior and send me the `log.log` Thanks

[2022-02-03 22:48] robertalexa commented on #114
@kevinatown Thanks for looking into this for me, much appreciated.

Just pulled and rebuild, the port seems to have opened up correctly, so what you did definitely worked.
![image](https://user-images.githubusercontent.com/9019306/152442050-c4deba05-e70f-469c-a50f-25456db93a8f.png)

Currently I am still not seeing the mirror as an available cast device but I am not yet jumping to conclusions, it m

[2022-02-04 00:09] kevinatown commented on #114
Wonderful! I'm glad it's at least being found on your other VLAN! MMM-Screencast can take a little time to actually come online, so it may be that. Let me know if theres any other way I can help!

Also, I'm closing this issue as the original request was fixed, but feel free to open another one or reopen this one if you have more qs!

[2022-02-04 00:09] #114 closed

[2022-02-13 19:01] rajmohanjena commented on #113
I am facing the same problem with my Magic-Mirror. I installed the updated screencast module, and in the pm2 logs I do not see any error logs related to the screencast module but on youtube when it searches for the devices to cast the raspberry pi aka MagicMirror is not shown up there and it ends up like "cannot find a device to cast on".

Logs:-

0|MagicMirror  | [14.02.2022 00:30.33.973] [LOG]

[2022-02-13 19:18] fribse opened #122 "Screencast somehow collides with Remote Control API and the Integration to Home Assistant"
Yeah, I know this is fluffy.
There is an integration into Home Assistant that uses the Remote Control API.
If I activate the ScreenCast module, the integration doesn't work.
I'm posting it here, but I will of course also post it in the Home Assistant Integration.
Maybe you can explain me how this might happen, so I can explain it to the developer of the integration?

[2022-02-16 17:30] fribse opened #123 "Console errors when module is installed"
Well this is all down to I have problems with the integration to Home Assistant, if MMM-ScreenCast is installed, I see these messages in the console debug:

![billede](https://user-images.githubusercontent.com/13660621/154321996-24d2834a-df4f-4d4c-b225-8b6b49bbc87d.png)

If I don't have the integration installed, I don't see this.

[2022-02-16 17:33] fribse commented on #123
I also see these messages in the log:
[16.02.2022 18:23.54.776] [LOG]   screencast stdout:

[16.02.2022 18:23.57.909] [LOG]   screencast stderr: (node:1742) electron: The default of contextIsolation is deprecated and will be changing from false to true in a future release of Electron.  See https://github.com/electron/electron/issues/23506 for more information

Screen casting works, weird...

[2022-02-16 17:44] kevinatown commented on #122
@fribse Hmm my intial guess would be a port collision or something similar. Do you have any logs of this? and what exactly are you using for Home Assistant  and Remote Control? I might have some time to dig into this.

[2022-02-16 17:48] kevinatown commented on #123
@fribse not sure about the first console error. That seems to be an issue with whatever is listening on port `8080` (which is not the default port for MMM-Screencast.

The second `screencast stderr` thing is known but not that big of a deal. It has to do with a warning about updating the default of one of electrons' configs. It has no effect currently but is telling me to check on `contextIsolatio

[2022-02-16 17:58] fribse commented on #123
port 8080 is Remote-Control

[2022-02-16 17:59] fribse commented on #122
Odd, Remote control uses port 8080, where can I find some extra log files?

[2022-02-16 18:00] fribse commented on #122
Open ports without ScreenCast module active:

[code]

[2022-02-16 18:08] fribse commented on #122
With ScreenCast in there are a lot more ports:
[code]

Not sure if that helps at all?

[2022-02-21 13:05] fribse commented on #122
I just tested some more together with the @sindrebroch that does the Home Assistant Integration.
Weird results.

Without ScreenCast
![billede](https://user-images.githubusercontent.com/13660621/154960638-826d4223-fc16-4143-8be3-b32c4d07e629.png)
I then send requests to RemoteControl API:
/api/test:
{"success":true}
/api/mmUpdateAvailable
{"success":true,"query":{"data":"mmUpdateAvailable"},"result

[2022-02-22 00:54] poucedeleon commented on #119
Good Afternoon Kevin. I have just enterer into the RaspberryPi world and chose your module as my first to install. I have a new install on a Pi 4b  4gb (rev C03112), Raspbian GNU/Linux 11 (bullseye) My MagicMirror2 install only has the default modules installed, which are all working fine. I have installed MMM-Screencast with no problem, and have added the configuration.

When I try to cast Youtub

[2022-02-23 13:26] charlicu opened #124 "devices shows up on casting options but won't play"
my phone tries to connect to the mirror but does not actually load anything

[2022-02-25 09:51] fribse opened #125 "Log shows "ERR_SERVER_ALREADY_LISTEN" when I install MMM-screencast"
I get this error when I install the module.

This is a fresh install, only 'built in' modules so far, and then MMM-Screencast.

[code]

[2022-03-31 18:17] BottomNine commented on #124
Have you resolved this? I am having the same issue.

[2022-03-31 19:43] charlicu commented on #124
Unfortunately not,and no one seems to know what is wrong

[2022-04-01 06:02] BeeGass commented on #124
can also confirm its happening to me as well

[2022-04-03 17:22] Sniperson2002 commented on #124
I have run across a number of forums mentioning a similar fix for other platforms using electron. Ex
https://github.com/UnchartedBull/OctoDash/issues/2467
I am not familiar enough to try to test this for our situation though.   --disable-seccomp-filter-sandbox
I can cough up full logs and configs if needed and I'm more than willing to help test.

My error being
[code]

[2022-04-12 17:03] LupoLucario opened #128 "Screen is still visible after disconnecting?"
After closing the connection (via smartphone), youtube on the mirror is still visible and asks me, if I want to login or not.

<img width="1266" alt="Screen" src="https://user-images.githubusercontent.com/44713099/163015744-9611d094-67e4-4d45-9039-e4eab1b8b844.png">

A reconnection is possible and works. But I can not get rid of the window without restarting the mirror :/

[2022-04-16 14:12] Jasa1983 commented on #128
Hi have the same issue.

[2022-04-18 12:20] bobsusedtires commented on #128
Same. Works on my other mirror though. I'm running out of ideas. Seems like if I could click continue as guest, it'd be fine, but I already hid my mouse. lol

[2022-04-18 13:00] bobsusedtires commented on #128
It is ONLY the youtube app from my phone. Every other app from phone, or computer, or whatever works fine.

[2022-05-02 11:15] vinaynaik121 commented on #124
Having Same Issue

![log file1](https://user-images.githubusercontent.com/93934463/166222839-20e989e1-b042-4900-8d77-ad54dd005ce8.PNG)

![log file 2](https://user-images.githubusercontent.com/93934463/166222882-ec0c44c5-f078-497b-bd9c-5f643a16698f.PNG)

And Here is my config file

/* MagicMirror² Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more informati

[2022-05-04 16:54] vinaynaik121 commented on #128
Having same issue anyone got solution for this??

[2022-05-17 02:31] mugen2220 commented on #128
Anyone find a fix?

[2022-05-17 20:18] mugen2220 opened #129 "no sound and screencast does not close"
i have gone through the steps installed screen cast it comes up I am able to resize and move it to desired location but there is no sound and when disconnect cast from youtube screen cast window stays up on screen even if i control q out of MM. I have included some error codes any help would be greatly appreciated.

[17.05.2022 15:06.52.246] [LOG]   screencast stderr: ../../sandbox/linux/seccomp-b

[2022-05-18 10:30] bobsusedtires commented on #128
I cloned the SD from my other mirror and tried it on new hardware. Still have the screen coming up on the new one, while my old mirror is fine. Has to be something silly.,..

[2022-05-22 00:42] #129 closed

[2022-05-22 00:43] mugen2220 commented on #129
No answer

[2022-07-16 09:00] Davrent commented on #128
Bonjour, j'ai le même souci sur une nouvelle installation. Quelqu'un à trouvé une solution ? Merci :)
-------
Hello, I have the same problem on a new installation. Has anyone found a solution? Thanks :)

[2022-07-17 16:02] amithapa commented on #128
@LupoLucario Any luck with this issue?
@kevinatown any suggestion how we could get this working?

[2022-07-18 05:24] LupoLucario commented on #128
I tried several things: different devices, networks and circumstances but without any luck so far.

[2022-07-23 23:37] kevinatown commented on #128
Hi y'all, sorry about the delay on this, been busy with work, house, life, and some other projects. Anyways..

Some more information would be greatly appreciated, such as:
- @LupoLucario what version of MagicMirror are you using?
- are you able to reconnect to your MagicMirror with you phone and then "Disconnect"?
- Can you disconnect before the video ends? and does MMM-Screencast disappear?
- Wou

[2022-08-07 06:16] JustinTomerlin opened #131 "Stuck on connecting"
I've added the module and add the config code in the config file.
I tried launching the magic mirror and it worked it showed up under the devices but when I clicked on the screen to play the video it just says "connecting..." for a few mins and then times out. but when it times out and I try to connect to the device the device is no longer there until I restart magic mirror.

Any help would be gre

[2022-08-07 14:41] LupoLucario commented on #128
Hi kevin,

- the MagicMirror version I use is 2.20.0
- there is no difference when I reconnect after first disconnecting and try to disconnect again
- also when I disconnect while the video is still playing it shows the screen I uploaded in the first post of the thread

Here is the log of starting the mirror, connecting with the phone (not playing any video), and disconnecting. For a better readab

[2022-09-19 16:04] goldyfruit commented on #128
I got the same behavior.

[2022-09-30 18:59] Egnos87 commented on #128
I have the same problem...please @kevinatown  help us! Thanks

[2022-09-30 19:20] Egnos87 commented on #131
Similar problem for me too: it often happens that it is no longer possible to reconnect after a disconnection.
It also happens when, after the disconnecting, you try to reconnect with a new user.
Below is the message that appears on the MM terminal when it is no longer possible to connect:

[code]

Please @kevinatown help us!

Thanks.

[2022-10-02 17:27] kevinatown commented on #131
@Egnos87 @JustinTomerlin could y’all send me the entire boot up log? A copy of your config with any API keys removed? Also what model of pi are you running it on?

[2022-10-06 01:37] peternguy3n commented on #131
@kevinatown @JustinTomerlin @Egnos87 First time setting up Magic Mirror and I resolved all my issues by basing my build off of the Raspberry Pi Buster image. Spent too much time trying to make Bullseye work. Loaded Buster and all is working well out the box.

[2022-10-09 09:53] Egnos87 commented on #131
Hi @kevinatown the problem has happened again.
Now I try to start the MM with `npm start >> log.log` and when it happens again I will send you the log.

Please @kevinatown  don't let this beautiful module die! ;-)

Thank you.

[2022-10-10 15:55] bobsusedtires commented on #128
Started happening on my other install that was working before.

[2022-10-14 09:05] Dresch360 commented on #128
Having the same issue - is there a fix?

[2022-10-14 11:40] goldyfruit commented on #128
I did a PR here: https://github.com/kevinatown/MMM-Screencast/issues/128
Waiting for @kevinatown to look at it.

[2022-10-14 21:19] Egnos87 commented on #128
Does this fork https://github.com/amirthapa27/MMM-Screencast solve the problem?

Thanks

[2022-10-15 01:05] goldyfruit commented on #128
Yes but it opens the developer tools.
You can use https://github.com/smartgic/MMM-Screencast with the `fix_window_still_visible` branch.

[2022-10-16 17:55] Egnos87 commented on #128
Ok, thanks.
The other big problem (perhaps worse than the issue #128 ...) is the one described in this issue #131 , that is the impossibility to connect:
https://github.com/kevinatown/MMM-Screencast/issues/131

Is there a solutions?

[2022-11-06 06:22] SyedIntekhab commented on #128
The connecting issue fixes itself when you do npm audit fix - - force.

But the window still visible problem creeps back in. :(

[2022-11-06 13:41] Tom-Hirschberger commented on #131
Hi,

cause of @Egnos87 i tried installing the module. It looks like the problem only exists with Raspberry OS Buster but not with Bullseye.

First i need to say that i use the Branch of [smartgic](https://github.com/smartgic/MMM-Screencast/tree/fix_window_still_visible) which fixes the not closing window of ticket #128

On Buster the connection fails and the log shows the following error
[code]

I

[2022-11-06 13:47] Tom-Hirschberger commented on #128
I tried the fix of @goldyfruit with Raspberry OS Buster and Bullseye. In my case it works with both os versions

[2022-11-06 13:54] Tom-Hirschberger commented on #131
On Bullseye i get the following warning
[code]
but everything works well

[2022-11-07 07:34] Tom-Hirschberger commented on #131
Played a little bit with two clients connecting to the Buster instance today.
* I connected client one, played a video and disconnected it. The video plays as expected and the window closes (i still use the fixed branch)
* I connected client two, played a video and disconnected it. Everything works well.
* I repeated connecting, playing and disconnecting several times and suddenly no connection wa

[2022-11-21 17:48] Wdave40 commented on #131
I am having the same issue, the endless spinner. Below are my logs from PM2 and my OS info.
![Screenshot 2022-11-21 at 10 45 29 AM](https://user-images.githubusercontent.com/76792845/203125095-34f6a3cd-1352-4b3c-ac33-2205e72fc18f.png)
![Screenshot 2022-11-21 at 10 46 35 AM](https://user-images.githubusercontent.com/76792845/203125106-54bb77ad-d925-41c7-86d7-664860d46f22.png)